# Wrangle and Analyse – WeRateDogs Data

## Table of Contents
- [1. Introduction](#intro)
- [2. Gathering data](#gathering)
- [3. Assessing data](#assessing)
- [4. Issues summary](#issues)
- [5. Cleaning data](#cleaning)
    - [5.1. Tidiness issues ‒ pt. 1](#tidiness1)
    - [5.2. Quality issues](#quality)
    - [5.3. Tidiness issues ‒ pt. 2](#tidiness2)
- [6. Storing, Analyzing and Visualizing Data](#storing)
- [7. References](#references)

<a id='intro'></a>
## 1. Introduction
This project was written for Udacity’s Data Analyst nanodegree program. The primary goal is to wrangle WeRateDogs Twitter data to create interesting and trustworthy analyses and visualizations. This dataset is the tweet archive (from November 2015 to August 2017) of Twitter user @dog_rates, also known as WeRateDogs, which is an account that rates people's dogs with a fun comment about each pet.

They also deal with this rating system in a humorous way. Even though the rates should be from 1 to 10, they almost always have a denominator of 10, but numerators greater than 10 (e.g., 11/10 or 13/10). That happens because they believe that all dogs deserve at least a 10 and sometimes even more. For each tweet, there is a picture of a dog that is going to be rated. 
To analyze the WeRateDogs archive, data will be gathered from a variety of sources and in a variety of formats, assessed in its quality and tidiness, then cleaned. This whole process is called data wrangling.

There were 3 main sources of data:

**1) WeRateDogs Twitter archive (.csv)**: Udacity provided this file, which was downloaded manually from their website (twitter_archive_enhanced.csv). This dataset contains basic tweet data for all 5000+ of WeRateDogs tweets that were extracted programmatically. Udacity also used the column with each tweet's text to extract rating, dog name, and dog "stage" (i.e., doggo, floofer, pupper, and puppo) to "enhance" this Twitter archive." Out of the 5000+ tweets, they selected only those tweets with ratings (there are 2356).

**2) Twitter API and JSON data**: additional data from the WeRateDogs archive was gathered using the Twitter API ‒ in special, data about retweet counts and favorite (“like”) counts. Using the tweet IDs in the original dataset, the Twitter API was queried for each tweet's JSON data through python's tweepy library. Then, each tweet's set of JSON data was written in a “.txt” file (“tweet_json.txt”), with each tweet's JSON data on its own line. At last, this .txt file was read, line by line, to create a pandas DataFrame.

**3) Tweet image prediction (.tsv)**: this file (image_predictions.tsv) was also provided by Udacity. They ran every image from the WeRateDogs tweets in the archive through a neural network that was able to classify breeds of dogs. This resulted in a table full of image predictions alongside each tweet ID and image URL. The table also provides columns informing: i) how confident the algorithm is in every prediction; ii) whether or not the prediction is a breed of dog (i.e., true or false); iii) and the image number that corresponded to the most confident prediction (numbered 1 to 4 since tweets can have up to four images). The “image_predictions.tsv” file was hosted on Udacity's servers and was downloaded programmatically using the Requests library from the following URL:
https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv

<a id='gathering'></a>
## 2. Gathering data

In [1]:
#imports required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import tweepy
from tweepy import OAuthHandler
import json
from timeit import default_timer as timer
%config InlineBackend.figure_format = 'svg'
#sets the maximum number of rows and columns to display to unlimited
pd.set_option("display.max_rows", None, "display.max_columns", None)

### 2.1. WeRateDogs Twitter archive (.csv)

In [2]:
#loads the ".csv" file into a dataframe
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')

### 2.2. Twitter API and JSON data

In [3]:
#declares twitter api keys and access tokens
consumer_key = 'MY CONSUMER KEY'
consumer_secret = 'MY CONSUMER SECRET'
access_token = 'MY ACCESS TOKEN'
access_secret = 'MY ACCESS SECRET'

In [21]:
#oauth authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth, parser = tweepy.parsers.JSONParser(), wait_on_rate_limit = True, wait_on_rate_limit_notify = True)

In [22]:
#creates a list to append each tweet data
tweets_list = []
#creates a list to append tweets that can't be found
fails_list = []
start_time = timer()
#queries twitter's api for json data for each tweet id in the weratedogs archive
for tweet_id in twitter_archive['tweet_id']:   
    try:
        tweets_list.append(api.get_status(tweet_id))
    except Exception as e:
        fails_list.append(tweet_id)
        print('No tweet found for ID: {}. Error message: {}'.format(str(tweet_id), str(e)))
end_time = timer()
print('This process was concluded in {:.2f} minutes'.format((end_time - start_time) / 60))

No tweet found for ID: 888202515573088257. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 873697596434513921. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 872668790621863937. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 872261713294495745. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 869988702071779329. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 866816280283807744. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 861769973181624320. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 856602993587888130. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 856330835276025856. Error message: [{'code': 34, 'message': 'Sorry, that page does not exist.'}]
No tweet found for ID: 851953902622658560. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 847971574464610304. Error message: Failed to send request: HTTPSConnectionPool(host='api.twitter.com', port=443): Read timed out. (read timeout=60)
No tweet found for ID: 845459076796616705. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 844704788403113984. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 842892208864923648. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 837366284874571778. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 837012587749474308. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 829374341691346946. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 827228250799742977. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 812747805718642688. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 802247111496568832. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 779123168116150273. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 775096608509886464. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 772193107915964416. Error message: Failed to send request: HTTPSConnectionPool(host='api.twitter.com', port=443): Read timed out. (read timeout=60)
No tweet found for ID: 771004394259247104. Error message: [{'code': 179, 'message': 'Sorry, you are not authorized to see this status.'}]
No tweet found for ID: 770743923962707968. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 766864461642756096. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 759923798737051648. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 759566828574212096. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 755206590534418437. Error message: Failed to send request: HTTPSConnectionPool(host='api.twitter.com', port=443): Read timed out. (read timeout=60)
No tweet found for ID: 754011816964026368. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 715342466308784130. Error message: Failed to send request: HTTPSConnectionPool(host='api.twitter.com', port=443): Read timed out. (read timeout=60)

Rate limit reached. Sleeping for: 116

No tweet found for ID: 695816827381944320. Error message: Failed to send request: HTTPSConnectionPool(host='api.twitter.com', port=443): Read timed out. (read timeout=60)
No tweet found for ID: 680055455951884288. Error message: [{'code': 144, 'message': 'No status found with that ID.'}]
No tweet found for ID: 679475951516934144. Error message: Failed to send request: HTTPSConnectionPool(host='api.twitter.com', port=443): Read timed out. (read timeout=60)
No tweet found for ID: 675822767435051008. Error message: Failed to send request: HTTPSConnectionPool(host='api.twitter.com', port=443): Max retries exceeded with url: /1.1/statuses/show.json?id=675822767435051008 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001F2B5F625E0>: Failed to establish a new connection: [WinError 10060] Uma tentativa de conexão falhou porque o componente conectado não respondeu\r\ncorretamente após um período de tempo ou a conexão estabelecida falhou\r\nporque o host conectado não respondeu'))

Rate limit reached. Sleeping for: 204

No tweet found for ID: 666058600524156928. Error message: Failed to send request: HTTPSConnectionPool(host='api.twitter.com', port=443): Read timed out. (read timeout=60)
This process was concluded in 39.24 minutes

In [30]:
#checks the length of each list
print('Length of tweets_list', len(tweets_list))
print('Length of fails_list', len(fails_list))

Length of tweets_list 2320
Length of fails_list 36

In [32]:
#checks the tweepy status object given by the api
print(tweets_list[1])

{'created_at': 'Tue Aug 01 00:17:27 +0000 2017', 'id': 892177421306343426, 'id_str': '892177421306343426', 'text': "This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boop… https://t.co/aQFSeaCu9L", 'truncated': True, 'entities': {'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': [{'url': 'https://t.co/aQFSeaCu9L', 'expanded_url': 'https://twitter.com/i/web/status/892177421306343426', 'display_url': 'twitter.com/i/web/status/8…', 'indices': [117, 140]}]}, 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 4196983835, 'id_str': '4196983835', 'name': 'WeRateDogs®', 'screen_name': 'dog_rates', 'location': 'all our links ➜', 'description': 'Your Only Source For Professional Dog Ratings Instagram and Facebook ➜ WeRateDogs partnerships@weratedogs.com ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀', 'url': 'https://t.co/YPc2Xq4Va2', 'entities': {'url': {'urls': [{'url': 'https://t.co/YPc2Xq4Va2', 'expanded_url': 'http://links.weratedogs.com', 'display_url': 'links.weratedogs.com', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 9014855, 'friends_count': 20, 'listed_count': 6749, 'created_at': 'Sun Nov 15 21:41:29 +0000 2015', 'favourites_count': 145697, 'utc_offset': None, 'time_zone': None, 'geo_enabled': True, 'verified': True, 'statuses_count': 14112, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': '000000', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1399788454616211464/l0-q8Jxa_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1399788454616211464/l0-q8Jxa_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1617810473', 'profile_link_color': 'F5ABB5', 'profile_sidebar_border_color': '000000', 'profile_sidebar_fill_color': '000000', 'profile_text_color': '000000', 'profile_use_background_image': False, 'has_extended_profile': False, 'default_profile': False, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none', 'withheld_in_countries': []}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 5413, 'favorite_count': 30005, 'favorited': False, 'retweeted': False, 'possibly_sensitive': False, 'possibly_sensitive_appealable': False, 'lang': 'en'}

In [33]:
#writes this list into a ".txt" file
with open('tweet_json.txt', 'w') as file:
        file.write(json.dumps(tweets_list, indent=4))

In [ ]:
#creates a DataFrame from the tweet_json.txt file with interesting information from the JSON dictionaries
info_list = []
with open('tweet_json.txt', encoding='utf-8') as json_file:  
    all_data = json.load(json_file)
    for each_dictionary in all_data:
        tweet_id = each_dictionary['id']
        whole_tweet = each_dictionary['text']
        only_url = whole_tweet[whole_tweet.find('https'):]
        favorite_count = each_dictionary['favorite_count']
        retweet_count = each_dictionary['retweet_count']
        created_at = each_dictionary['created_at']
        retweeted_status = each_dictionary['retweeted_status'] = each_dictionary.get('retweeted_status', 'Original tweet')
        if retweeted_status == 'Original tweet':
            url = only_url
        else:
            retweeted_status = 'This is a retweet'
            url = 'This is a retweet'

        info_list.append({'tweet_id': str(tweet_id),
                             'favorite_count': int(favorite_count),
                             'retweet_count': int(retweet_count),
                             'created_at': created_at,
                             'url': url,
                             'retweeted_status': retweeted_status,
                            })
        tweet_json = pd.DataFrame(info_list, columns = ['tweet_id', 'favorite_count','retweet_count', 
                                                        'created_at', 'retweeted_status', 'url'])

In [61]:
#writes dataframe to the ".csv" file 
tweet_json.to_csv('tweet_json.txt', encoding='utf-8', index=False)

In [3]:
#loads the ".csv" file into a dataframe
tweet_json = pd.read_csv('tweet_json.txt')

### 2.3. Tweet image prediction (.tsv)

In [5]:
#imports the data from the server
url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
response = requests.get(url)

In [6]:
#saves the data as a "".tsv" file
with open('image-predictions.tsv', mode='wb') as file:
    file.write(response.content)

In [7]:
#reads the ".tsv" file
img_pred = pd.read_table('image-predictions.tsv')

<a id='assessing'></a>
## 3. Assessing data

This project requires to assess and clean at least 8 quality issues and at least 2 tidiness issues in this dataset.

### 3.1. twitter_archive

In [241]:
#returns the first n rows of the dataframe
twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [242]:
#gets a concise summary of the dataframe
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [243]:
#checks for duplicated values in the "id" column
twitter_archive['tweet_id'].duplicated().sum()

0

In [244]:
#looks for NA values in the dataframe
twitter_archive.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [245]:
#checks for retweets through the "retweet_status_id" column
len(twitter_archive[twitter_archive['retweeted_status_id'].isnull() == False])

181

In [246]:
#checks values for the "rating_denominator"
twitter_archive.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [247]:
#checks the "text" colunm content for tweets with denominator greater than 10
twitter_archive.query('rating_denominator == 11').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [248]:
#checks the "text" colunm content for tweets with denominator greater than 10
twitter_archive.query('rating_denominator == 50').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [249]:
#checks the "text" colunm content for tweets with denominator greater than 10
twitter_archive.query('rating_denominator == 80').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [250]:
#checks the "text" colunm content for tweets with denominator greater than 10
twitter_archive.query('rating_denominator == 20').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [251]:
#checks the "text" colunm content for tweets with denominator greater than 10
twitter_archive.query('rating_denominator == 2').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [252]:
#checks the "text" colunm content for tweets with denominator greater than 10
twitter_archive.query('rating_denominator == 16').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [253]:
#checks the "text" colunm content for tweets with denominator greater than 10
twitter_archive.query('rating_denominator == 40').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [254]:
#checks the "text" colunm content for tweets with denominator greater than 10
twitter_archive.query('rating_denominator == 70').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [255]:
#checks the "text" colunm content for tweets with denominator greater than 10
twitter_archive.query('rating_denominator == 15').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [256]:
#checks the "text" colunm content for tweets with denominator greater than 10
twitter_archive.query('rating_denominator == 90').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [257]:
#checks the "text" colunm content for tweets with denominator greater than 10
twitter_archive.query('rating_denominator == 110').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [258]:
#checks the "text" colunm content for tweets with denominator greater than 10
twitter_archive.query('rating_denominator == 120').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [259]:
#checks the "text" colunm content for tweets with denominator greater than 10
twitter_archive.query('rating_denominator == 130').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [260]:
#checks the "text" colunm content for tweets with denominator greater than 10
twitter_archive.query('rating_denominator == 150').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [261]:
#checks the "text" colunm content for tweets with denominator greater than 10
twitter_archive.query('rating_denominator == 170').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [262]:
#checks the "text" colunm content for tweets with denominator greater than 10
twitter_archive.query('rating_denominator == 7').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [263]:
#checks the "text" colunm content for tweets with denominator greater than 10
twitter_archive.query('rating_denominator == 0').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [264]:
#sorts values of the "name" column alphabetically - lowercase values stay at the bottom and appear to be wrong extractions
twitter_archive['name'].sort_values()

1035              Abby
1021              Abby
938                Ace
1933              Acro
1327             Adele
1934             Aiden
77                 Aja
480              Akumi
820                 Al
875             Albert
1954            Albert
144              Albus
412              Albus
1115           Aldrick
2046         Alejandro
374          Alexander
1189      Alexanderson
486                Alf
2238             Alfie
661              Alfie
367              Alfie
1616             Alfie
858              Alfie
51                Alfy
201              Alice
1701             Alice
1495             Amber
1334           Ambrose
2078               Amy
2195            Amélie
780             Anakin
574             Anakin
2144             Andru
2084              Andy
849              Angel
443               Anna
2063           Anthony
2088            Antony
1687            Apollo
1059              Aqua
1169            Archie
1462            Archie
1400            Archie
2               Archie
1027             Arlen
284               Arlo
767              Arnie
699              Arnie
965              Arnie
1868            Arnold
197               Arya
1809               Ash
311                Ash
1690             Asher
1157          Ashleigh
206              Aspen
1698             Aspen
211             Astrid
363             Astrid
492              Atlas
880              Atlas
1013           Atticus
979            Atticus
855              Aubie
514              Augie
457             Autumn
1909               Ava
304                Ava
1086              Axel
1790              Axel
399             Bailey
65              Bailey
1510            Bailey
562             Bailey
1908            Bailey
626             Bailey
650             Bailey
1067             Baloo
594              Baloo
406              Balto
714              Balto
2197           Banditt
1652             Banjo
1191           Barclay
240             Barney
502              Baron
1577             Barry
2025            Batdog
504              Bauer
1582            Baxter
2042            Baxter
1083            Bayley
652               BeBe
371               Bear
452               Bear
1284              Bear
743               Bear
975               Beau
70                Beau
1421              Beau
485               Beau
909            Beckham
373             Beebop
1256             Beemo
1054              Bell
741               Bell
1768             Bella
1964             Bella
1354             Bella
60               Bella
1089             Bella
45               Bella
147              Belle
861              Belle
2137               Ben
1219          Benedict
84            Benedict
1076             Benji
645              Benji
205              Benny
1046           Bentley
1434           Bentley
325            Bentley
1208           Bentley
265            Bentley
1448              Berb
1170          Berkeley
2183            Bernie
1848            Bernie
1833              Bert
1211           Bertson
663              Betty
469              Betty
1047              Beya
2279             Biden
1375             Bilbo
2163             Billl
1271             Billy
471              Binky
1594              Birf
2229          Bisquick
1347          Bisquick
1571           Blakely
1038           Blanket
1432           Blipson
1148             Blitz
1221             Blitz
2103              Bloo
1149             Bloop
984                Blu
779               Blue
1202          Bluebert
1683                Bo
978                 Bo
686                 Bo
583                 Bo
679                 Bo
446                 Bo
553                 Bo
876                 Bo
449                 Bo
1455               Bob
1919               Bob
2196              Bobb
1922            Bobbay
1285            Bobble
1629             Bobby
1336              Bode
1484             Bodie
874          Bonaparte
575              Bones
1007         Bookstore
220             Boomer
111             Boomer
138             Boomer
985             Boomer
379              Boots
900             Boston
1187             Bowie
1556              Brad
2026              Brad
2292           Bradlay
2016           Bradley
252              Brady
507             Brandi
901         Brandonald
1657            Brandy
850               Brat
1460             Brian
1504           Brockly
1709             Brody
1672             Brody
625              Brody
950              Brody
328             Bronte
1607            Brooks
674            Brownie
873              Bruce
668              Bruce
1730             Bruce
488              Bruce
844             Brudge
1621           Bruiser
11               Bruno
377             Brutus
2017             Bubba
1820           Bubbles
1205           Bubbles
1104           Buckley
1849            Buddah
671              Buddy
303              Buddy
1648             Buddy
2003             Buddy
864              Buddy
459              Buddy
1518             Buddy
250            Bungalo
795            Bungalo
158               Burt
681             Butter
629             Butter
2126           Butters
2014               Cal
1404           Calbert
1216           Calbert
723               Cali
535               Cali
183             Callie
970             Calvin
2256            Calvin
1453            Calvin
19              Canela
23              Canela
235             Cannon
823             Carbon
941               Carl
1544              Carl
162               Carl
692               Carl
2303             Carll
937              Carly
1688             Carly
1185            Carper
1426            Carter
1993             Caryl
90                Cash
405               Cash
609             Cassie
1308            Cassie
1425            Cassie
9               Cassie
1412              CeCe
1715              CeCe
1268             Cecil
1521           Cedrick
187             Cermet
1094          Chadrick
1696             Champ
1406             Charl
1125           Charles
1081           Charles
1174         Charleson
254            Charlie
932            Charlie
338            Charlie
1358           Charlie
230            Charlie
1436           Charlie
261            Charlie
383            Charlie
813            Charlie
2049           Charlie
326            Charlie
1682           Charlie
1070             Chase
2187              Chaz
1704            Cheesy
579               Chef
453            Chelsea
793            Chelsea
1985            Cheryl
1913           Chesney
1494           Chester
1470           Chester
320            Chester
1241           Chester
2147           Chester
1342        Chesterson
1981              Chet
1381              Chet
834              Chevy
1363              Chip
1066              Chip
2165              Chip
796               Chip
1546           Chipson
729            Chipson
468              Chloe
1748          Chompsky
908           Chompsky
2315        Christoper
489             Chubbs
1692             Chuck
1250          Chuckles
1980          Chuckles
1798              Chuq
2291           Churlie
2205           Churlie
1140          Cilantro
2148          Clarence
2289          Clarence
1553          Clarence
2069          Clarence
633              Clark
297              Clark
859              Clark
1014             Clark
1305           Clarkus
2174             Clarq
1417            Claude
2243      Cleopatricia
117           Clifford
2296             Clybe
1177             Clyde
136               Coco
1282              Coco
91                Coco
1496              Cody
114               Cody
2075             Colby
1151             Colby
847              Colby
1134           Coleman
1456             Colin
731              Combo
474              Comet
483             Cooper
1395            Cooper
124             Cooper
961             Cooper
1333            Cooper
1291            Cooper
126             Cooper
607             Cooper
910             Cooper
1800            Cooper
532             Cooper
1393             Coops
1872             Coops
1377           Coopson
994               Cora
904              Corey
1533            Covach
515              Craig
408           Crawford
2090              Creg
1593           Crimson
1383           Crouton
1769           Crumpet
1764           Crystal
1123           Crystal
1414           Cuddles
2275           Cupcake
1309           Cupcake
385              Cupid
1575            Curtis
1218            Curtis
292              Daisy
623              Daisy
2124             Daisy
1931             Daisy
348              Daisy
1864             Daisy
237              Daisy
1101            Dakota
809             Dakota
697               Dale
706             Dallas
2118             Damon
1384            Daniel
2100             Danny
80               Dante
1998             Darby
3                Darla
1662            Darrel
1758              Dash
737               Dash
152               Dave
1399              Dave
638               Dave
2297              Dave
541               Dave
721               Dave
808              Davey
606              Davey
271               Dawn
109               Dawn
2221              DayZ
724             Deacon
1562             Derby
28               Derek
1794             Derek
1173             Derek
768              Derek
915              Devón
119              Dewey
930                Dex
683             Dexter
1973            Dexter
1325            Dexter
365             Dexter
460               Dido
987           Dietrich
554              Diogi
989             Divine
812              Dixie
550             Django
1967            Django
635              Dobby
582                Doc
708                Doc
827             DonDon
1839             Donny
372            Doobert
2268              Dook
1946               Dot
1389             Dotsy
1056              Doug
1227              Doug
1424              Doug
423            Duchess
66             Duddles
473             Dudley
2168               Dug
666               Duke
545               Duke
1827              Duke
997               Duke
1485            Dunkin
1537              Durg
350              Dutch
1740            Dwight
2028             Dylan
722               Earl
38                Earl
1925              Earl
1392              Eazy
1195              Ebby
1988                Ed
2106               Edd
1500             Edgar
1057            Edmund
337              Eevee
198           Einstein
495            Eleanor
308                Eli
673                Eli
1312             Ellie
1855             Ellie
1705             Ellie
1314            Elliot
57              Elliot
345            Emanuel
1570             Ember
891               Emma
1725             Emmie
68                Emmy
76                Emmy
1136         Enchilada
2244              Erik
1525              Eriq
2101             Ester
461             Eugene
860                Eve
1970               Eve
1741               Evy
2132             Fabio
1294            Farfle
1549              Ferg
883               Fido
1373              Fiji
1398            Fillup
2251             Filup
786             Finley
782             Finley
718               Finn
431               Finn
805               Finn
981               Finn
445               Finn
1307          Finnegus
368              Fiona
636              Fiona
810               Fizz
794               Fizz
430              Flash
1974          Fletcher
456           Florence
1133          Flurpson
1196            Flávio
1597            Flávio
688              Frank
2265             Frank
811            Frankie
711            Frankie
1968           Frankie
1420          Franklin
4             Franklin
2004             Franq
954               Fred
1155              Fred
1475          Freddery
1559             Frönq
236             Furzey
2280              Fwed
1538              Fynn
327              Gabby
418               Gabe
2295              Gabe
1912              Gary
1247              Gary
54                Gary
490               Gary
209            General
2282         Genevieve
1041              Geno
1530             Geoff
2262            George
194             George
983             George
264             George
1951            George
232            Georgie
764             Gerald
20              Gerald
1965            Gerald
835             Gerald
1617           Gerbald
918               Gert
222             Gidget
330             Gidget
959            Gilbert
2096               Gin
82              Ginger
1536             Gizmo
2022             Gizmo
122              Gizmo
1691           Glacier
863              Glenn
719               Godi
1817          Godzilla
1719           Goliath
86               Goose
1580            Gordon
1467             Grady
797               Grey
1651           Griffin
1824           Griffin
1703          Griswold
1762             Grizz
942            Grizzie
46           Grizzwald
800             Gromit
854             Gromit
1258            Gunner
1921               Gus
1028               Gus
49                 Gus
520                Gus
366                Gus
1982            Gustaf
1026            Gustav
2217            Gòrdón
2270              Hall
512               Halo
1601           Hammond
2048           Hammond
1555           Hamrick
745               Hank
258               Hank
2113              Hank
936               Hank
2203              Hanz
664              Happy
670              Happy
424             Harlso
1178           Harnold
1045            Harold
128             Harold
1302            Harper
728             Harper
2182          Harrison
104              Harry
1037            Harvey
1522             Hazel
1713            Hector
790           Heinrich
1920             Henry
2192            Herald
1547            Herald
2117              Herb
422           Hercules
739           Hercules
2061              Herm
1831              Herm
1112          Hermione
709               Hero
462           Herschel
1498          Herschel
156             Hobbes
414             Hobbes
2064             Holly
1591            Horace
441              Howie
1615         Hubertson
772               Huck
1793          Humphrey
517             Hunter
1735            Hunter
749             Hurley
1742            Hurley
1003            Huxley
214               Iggy
392                Ike
1036             Indie
262              Indie
592               Iroh
526                Ito
1163              Ivar
1776              Izzy
2041                JD
477               Jack
598               Jack
67                Jack
475               Jack
1655              Jack
804               Jack
2000            Jackie
1585           Jackson
821            Jackson
974            Jameson
132             Jamesy
135             Jamesy
1164            Jangle
2228            Jareld
207              Jarod
244             Jarvis
2175           Jaspers
2045               Jax
1674               Jax
1105               Jax
976                Jax
6                  Jax
917                Jax
752                Jay
2190            Jaycob
2002              Jazz
442              Jazzy
1899               Jeb
1289         Jebberson
92                 Jed
1033           Jeffrey
769            Jeffrey
590            Jeffrey
21             Jeffrey
1956            Jeffri
2098           Jeffrie
1199          Jennifur
2308              Jeph
1632              Jeph
2188            Jeremy
1765            Jerome
1619             Jerry
2097             Jerry
1989             Jerry
229              Jerry
153             Jersey
61               Jesse
830              Jesse
1773          Jessifer
1418           Jessiga
2077              Jett
16                 Jim
33               Jimbo
1300           Jiminus
1645            Jiminy
2240            Jiminy
1984           Jimison
421            Jimison
2317           Jimothy
1681           Jimothy
1335           Jimothy
2219                Jo
2309           Jockson
1667              Joey
2209          Jomathan
1910             Jonah
163              Jordy
2312             Josep
2283            Joshwa
1796           Juckson
2143             Julio
2051            Julius
641               Juno
848               Juno
1387              Kaia
1930             Kaiya
2210            Kallie
1236              Kane
1226              Kanu
1323              Kara
1803              Karl
1145             Karll
1270             Karma
1310         Kathmandu
1315             Katie
1720             Kawhi
1050             Kayla
2300              Keet
2159             Keith
928              Keith
1103           Kellogg
463                Ken
266                Ken
1953           Kendall
2290           Kenneth
1830           Kenneth
1917             Kenny
720              Kenny
1975            Kenzie
1303            Keurig
1006            Keurig
40               Kevin
225              Kevin
2199             Kevon
2263              Kial
1048              Kilo
1565              Kilo
1503          Kingsley
888              Kirby
828              Kirby
2171              Kirk
824              Klein
343              Klein
1443            Klevin
1277            Klevin
2302            Klevin
2150             Kloey
1472              Kobe
1320              Koda
2111              Koda
10                Koda
528               Koda
1962              Koda
738               Koda
105               Kody
52                Koko
2160            Kollin
378               Kona
856               Kota
1576            Kramer
2007              Kreg
1671              Kreg
2318          Kreggory
1158          Kreggory
1639             Kulet
347               Kuyu
1078              Kyle
1117              Kyle
216               Kyle
357               Kyro
524               Kyro
1261              Lacy
1881             Laela
631              Laika
2193           Lambeau
1231             Lance
1118             Larry
1658             Larry
1950             Larry
476              Larry
2123             Larry
106             Lassie
496              Layla
1326             Layla
862              Leela
669              Leela
1915            Lennon
536             Lennon
1851             Lenny
1911             Lenny
1030             Lenox
217                Leo
1064               Leo
361                Leo
1509               Leo
319                Leo
685                Leo
907            Leonard
1990          Leonidas
479               Levi
659               Levi
2135              Liam
971              Lilah
134               Lili
898              Lilli
1152            Lillie
356              Lilly
36               Lilly
1422              Lily
643               Lily
1092              Lily
1480           Lincoln
691            Lincoln
1754             Linda
2158             Linda
1198              Link
1011             Linus
324             Lipton
1107            Livvie
1563            Lizzie
340              Logan
695              Logan
567               Loki
384               Loki
791               Loki
359               Loki
39                Lola
1469              Lola
312               Lola
309               Lola
1752              Lola
951               Lola
2058              Lola
2023              Lola
601               Lola
1153              Lola
1524              Lolo
588         Longfellow
717             Loomis
1602           Lorelei
159            Lorenzo
1458           Lorenzo
161            Lorenzo
831                Lou
2057               Lou
838              Louie
2151             Louie
853              Louie
1567             Louis
1561             Louis
1746             Louis
1906             Louis
58               Louis
1539              Luca
428               Luca
1346             Lucia
1548             Lucky
980               Lucy
680               Lucy
305               Lucy
296               Lucy
1365              Lucy
1328              Lucy
1541              Lucy
1278              Lucy
1180              Lucy
1927              Lucy

In [265]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "very"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [266]:
#returns the number of elements with this value
twitter_archive.query('name == "very"').count()[0]

5

In [267]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "unacceptable"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [268]:
#returns the number of elements with this value
twitter_archive.query('name == "unacceptable"').count()[0]

1

In [269]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "this"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [270]:
#returns the number of elements with this value
twitter_archive.query('name == "this"').count()[0]

1

In [271]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "the"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [272]:
#returns the number of elements with this value
twitter_archive.query('name == "the"').count()[0]

8

In [273]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "such"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [274]:
#returns the number of elements with this value
twitter_archive.query('name == "such"').count()[0]

1

In [275]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "space"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [276]:
#returns the number of elements with this value
twitter_archive.query('name == "space"').count()[0]

1

In [277]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "quite"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [278]:
#returns the number of elements with this value
twitter_archive.query('name == "quite"').count()[0]

4

In [279]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "one"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [280]:
#returns the number of elements with this value
twitter_archive.query('name == "one"').count()[0]

4

In [281]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "old"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [282]:
#returns the number of elements with this value
twitter_archive.query('name == "old"').count()[0]

1

In [283]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "officially"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [284]:
#returns the number of elements with this value
twitter_archive.query('name == "officially"').count()[0]

1

In [285]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "not"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [286]:
#returns the number of elements with this value
twitter_archive.query('name == "not"').count()[0]

2

In [287]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "my"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [288]:
#returns the number of elements with this value
twitter_archive.query('name == "my"').count()[0]

1

In [289]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "mad"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [290]:
#returns the number of elements with this value
twitter_archive.query('name == "mad"').count()[0]

2

In [291]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "light"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [292]:
#returns the number of elements with this value
twitter_archive.query('name == "light"').count()[0]

1

In [293]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "life"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [294]:
#returns the number of elements with this value
twitter_archive.query('name == "life"').count()[0]

1

In [295]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "just"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [296]:
#returns the number of elements with this value
twitter_archive.query('name == "just"').count()[0]

4

In [297]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "infuriating"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [298]:
#returns the number of elements with this value
twitter_archive.query('name == "infuriating"').count()[0]

1

In [299]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "incredibly"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [300]:
#returns the number of elements with this value
twitter_archive.query('name == "incredibly"').count()[0]

1

In [301]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "his"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [302]:
#returns the number of elements with this value
twitter_archive.query('name == "his"').count()[0]

1

In [303]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "getting"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [304]:
#returns the number of elements with this value
twitter_archive.query('name == "getting"').count()[0]

2

In [305]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "by"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [306]:
#returns the number of elements with this value
twitter_archive.query('name == "by"').count()[0]

1

In [307]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "an"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [308]:
#returns the number of elements with this value
twitter_archive.query('name == "an"').count()[0]

7

In [309]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "all"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [310]:
#returns the number of elements with this value
twitter_archive.query('name == "all"').count()[0]

1

In [311]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "actually"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [312]:
#returns the number of elements with this value
twitter_archive.query('name == "actually"').count()[0]

2

In [313]:
#checks the "text" column content for the tweets with "name" column values that appear to have been wrongly extracted
twitter_archive.query('name == "a"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [314]:
#returns the number of elements with this value
twitter_archive.query('name == "a"').count()[0]

55

In [315]:
#checks the number of values for "doggo"
twitter_archive['doggo'].value_counts()

None     2259
doggo      97
Name: doggo, dtype: int64

In [316]:
#checks the number of values for "floofer"
twitter_archive['floofer'].value_counts()

None       2346
floofer      10
Name: floofer, dtype: int64

In [317]:
#checks the number of values for "pupper"
twitter_archive['pupper'].value_counts()

None      2099
pupper     257
Name: pupper, dtype: int64

In [318]:
#checks the number of values for "puppo"
twitter_archive['puppo'].value_counts()

None     2326
puppo      30
Name: puppo, dtype: int64

### 3.2. tweet_json

In [319]:
#returns the first n rows of the dataframe
tweet_json.head()

,tweet_id,favorite_count,retweet_count,created_at,retweeted_status,url
0,892420643555336193,34624,7217,Tue Aug 01 16:23:56 +0000 2017,Original tweet,https://t.co/MgUWQ76dJU
1,892177421306343426,30005,5413,Tue Aug 01 00:17:27 +0000 2017,Original tweet,https://t.co/aQFSeaCu9L
2,891815181378084864,22588,3576,Mon Jul 31 00:18:03 +0000 2017,Original tweet,https://t.co/r0YlrsGCgy
3,891689557279858688,37880,7437,Sun Jul 30 15:58:51 +0000 2017,Original tweet,https://t.co/tD36da7qLQ
4,891327558926688256,36172,7979,Sat Jul 29 16:00:24 +0000 2017,Original tweet,https://t.co/0g0KMIVXZ3

In [320]:
#gets a concise summary of the dataframe
tweet_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2320 entries, 0 to 2319
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tweet_id          2320 non-null   int64
 1   favorite_count    2320 non-null   int64
 2   retweet_count     2320 non-null   int64
 3   created_at        2320 non-null   object
 4   retweeted_status  2320 non-null   object
 5   url               2320 non-null   object
dtypes: int64(3), object(3)
memory usage: 108.9+ KB

In [321]:
#checks for duplicated values in "id" column
tweet_json['tweet_id'].duplicated().sum()

0

In [322]:
#looks for NA values in the dataframe
tweet_json.isnull().sum()

tweet_id            0
favorite_count      0
retweet_count       0
created_at          0
retweeted_status    0
url                 0
dtype: int64

### 3.3. img_pred

In [323]:
#returns the first n rows of the dataframe
img_pred.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [324]:
#gets a concise summary of the dataframe
img_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [325]:
#checks for duplicated values in "id" column
img_pred['tweet_id'].duplicated().sum()

0

In [326]:
#looks for NA values in the dataframe
img_pred.isnull().sum()

tweet_id    0
jpg_url     0
img_num     0
p1          0
p1_conf     0
p1_dog      0
p2          0
p2_conf     0
p2_dog      0
p3          0
p3_conf     0
p3_dog      0
dtype: int64

In [327]:
#returns counts of unique dog breeds
img_pred['p1'].value_counts()

golden_retriever                  150
Labrador_retriever                100
Pembroke                           89
Chihuahua                          83
pug                                57
chow                               44
Samoyed                            43
toy_poodle                         39
Pomeranian                         38
malamute                           30
cocker_spaniel                     30
French_bulldog                     26
miniature_pinscher                 23
Chesapeake_Bay_retriever           23
seat_belt                          22
Siberian_husky                     20
German_shepherd                    20
Staffordshire_bullterrier          20
web_site                           19
Cardigan                           19
Maltese_dog                        18
teddy                              18
Shetland_sheepdog                  18
beagle                             18
Eskimo_dog                         18
Rottweiler                         17
Shih-Tzu                           17
Lakeland_terrier                   17
kuvasz                             16
Italian_greyhound                  16
Great_Pyrenees                     14
West_Highland_white_terrier        14
Pekinese                           13
dalmatian                          13
vizsla                             13
American_Staffordshire_terrier     13
basset                             13
Old_English_sheepdog               12
Airedale                           12
Border_collie                      12
soft-coated_wheaten_terrier        11
kelpie                             11
Blenheim_spaniel                   11
English_springer                   10
boxer                              10
Bernese_mountain_dog               10
schipperke                         10
collie                             10
dingo                               9
Great_Dane                          9
borzoi                              9
tennis_ball                         9
Boston_bull                         9
malinois                            9
whippet                             9
Norwegian_elkhound                  8
doormat                             8
English_setter                      8
standard_poodle                     8
papillon                            8
miniature_poodle                    8
Yorkshire_terrier                   8
flat-coated_retriever               8
Doberman                            8
Siamese_cat                         7
Norfolk_terrier                     7
tub                                 7
basenji                             7
bath_towel                          7
Border_terrier                      7
Brittany_spaniel                    7
bloodhound                          7
hamster                             7
German_short-haired_pointer         7
Saint_Bernard                       7
swing                               7
redbone                             6
car_mirror                          6
Dandie_Dinmont                      6
ice_bear                            6
llama                               6
Irish_setter                        6
home_theater                        6
Irish_terrier                       6
Lhasa                               5
minivan                             5
ox                                  5
bull_mastiff                        5
Newfoundland                        5
Walker_hound                        5
Bedlington_terrier                  5
Tibetan_mastiff                     5
shopping_cart                       5
hippopotamus                        5
porcupine                           5
brown_bear                          4
Arctic_fox                          4
bluetick                            4
jigsaw_puzzle                       4
Saluki                              4
Gordon_setter                       4
Mexican_hairless                    4
Norwich_terrier                     4
Weimaraner                          4
Tibetan_terrier                     4
barrow                              4
miniature_schnauzer                 4
patio                               4
bow_tie                             4
Rhodesian_ridgeback                 4
goose                               4
guinea_pig                          4
bathtub                             4
wombat                              4
Afghan_hound                        4
keeshond                            4
hog                                 4
toilet_tissue                       3
washbasin                           3
Irish_water_spaniel                 3
curly-coated_retriever              3
dishwasher                          3
window_shade                        3
Welsh_springer_spaniel              3
white_wolf                          3
briard                              3
triceratops                         3
prison                              3
refrigerator                        3
comic_book                          3
sea_lion                            3
balloon                             3
jack-o'-lantern                     3
stone_wall                          3
Ibizan_hound                        3
Arabian_camel                       3
Brabancon_griffon                   3
cowboy_hat                          3
Greater_Swiss_Mountain_dog          3
seashore                            3
mousetrap                           3
space_heater                        3
komondor                            3
ram                                 3
muzzle                              3
Christmas_stocking                  3
Scottish_deerhound                  3
common_iguana                       3
cairn                               3
ski_mask                            3
wood_rabbit                         3
giant_schnauzer                     3
motor_scooter                       3
Leonberg                            3
vacuum                              3
feather_boa                         2
gondola                             2
wallaby                             2
snail                               2
dough                               2
frilled_lizard                      2
dogsled                             2
bustard                             2
Sussex_spaniel                      2
weasel                              2
leatherback_turtle                  2
sorrel                              2
upright                             2
black-and-tan_coonhound             2
box_turtle                          2
Angora                              2
Loafer                              2
ostrich                             2
paper_towel                         2
tusker                              2
street_sign                         2
geyser                              2
toy_terrier                         2
shower_curtain                      2
axolotl                             2
Appenzeller                         2
gas_pump                            2
tabby                               2
badger                              2
toyshop                             2
laptop                              2
Australian_terrier                  2
acorn_squash                        2
lakeside                            2
snorkel                             2
hyena                               2
meerkat                             2
chimpanzee                          2
hermit_crab                         2
cash_machine                        2
koala                               2
bubble                              2
wool                                2
hen                                 2
wire-haired_fox_terrier             2
birdhouse                           2
paddle                              2
jellyfish                           2
pool_table                          1
fire_engine                         1
tailed_frog                         1
maillot                             1
picket_fence                        1
tick                                1
robin                               1
toilet_seat                         1
maze                                1
basketball                          1
padlock                             1
mortarboard                         1
terrapin                            1
restaurant                          1
rotisserie                          1
coil                                1
bearskin                            1
lynx                                1
nail                                1
peacock                             1
panpipe                             1
lacewing                            1
china_cabinet                       1
leaf_beetle                         1
black-footed_ferret                 1
bib                                 1
prayer_rug                          1
wild_boar                           1
lion                                1
park_bench                          1
orange                              1
loupe                               1
syringe                             1
shopping_basket                     1
washer                              1
sunglasses                          1
electric_fan                        1
walking_stick                       1
tiger_shark                         1
espresso                            1
remote_control                      1
pedestal                            1
military_uniform                    1
pot                                 1
beaver                              1
sliding_door                        1
bookshop                            1
crane                               1
cup                                 1
rapeseed                            1
tricycle                            1
pencil_box                          1
giant_panda                         1
zebra                               1
dining_table                        1
piggy_bank                          1
cliff                               1
EntleBucher                         1
mud_turtle                          1
binoculars                          1
groenendael                         1
Madagascar_cat                      1
damselfly                           1
pitcher                             1
swab                                1
wooden_spoon                        1
traffic_light                       1
water_buffalo                       1
African_hunting_dog                 1
cowboy_boot                         1
suit                                1
microphone                          1
bookcase                            1
pole                                1
flamingo                            1
desktop_computer                    1
snowmobile                          1
crash_helmet                        1
otter                               1
bald_eagle                          1
carousel                            1
silky_terrier                       1
agama                               1
radio_telescope                     1
polecat                             1
cougar                              1
guenon                              1
African_grey                        1
African_crocodile                   1
scorpion                            1
marmot                              1
clog                                1
platypus                            1
revolver                            1
cheetah                             1
jersey                              1
Japanese_spaniel                    1
ocarina                             1
book_jacket                         1
banana                              1
four-poster                         1
carton                              1
microwave                           1
quilt                               1
three-toed_sloth                    1
bee_eater                           1
bison                               1
ping-pong_ball                      1
alp                                 1
handkerchief                        1
clumber                             1
barbell                             1
long-horned_beetle                  1
hotdog                              1
soccer_ball                         1
dhole                               1
fountain                            1
bow                                 1
water_bottle                        1
sandbar                             1
sundial                             1
leopard                             1
hammer                              1
earthstar                           1
bannister                           1
ice_lolly                           1
hare                                1
hay                                 1
teapot                              1
Scotch_terrier                      1
grey_fox                            1
coffee_mug                          1
timber_wolf                         1
bakery                              1
American_black_bear                 1
envelope                            1
cheeseburger                        1
studio_couch                        1
mailbox                             1
stove                               1
harp                                1
bonnet                              1
starfish                            1
canoe                               1
cuirass                             1
grille                              1
killer_whale                        1
sea_urchin                          1
lorikeet                            1
beach_wagon                         1
lawn_mower                          1
pillow                              1
trombone                            1
convertible                         1
hand_blower                         1
rain_barrel                         1
sulphur-crested_cockatoo            1
ibex                                1
standard_schnauzer                  1
shield                              1
slug                                1
coho                                1
bighorn                             1
boathouse                           1
fiddler_crab                        1
king_penguin                        1
minibus                             1
candle                              1
coral_reef                          1
hummingbird                         1
skunk                               1
conch                               1
Egyptian_cat                        1
limousine                           1
school_bus                          1
Name: p1, dtype: int64

In [328]:
#returns counts of unique dog's breeds
img_pred['p2'].value_counts()

Labrador_retriever                104
golden_retriever                   92
Cardigan                           73
Chihuahua                          44
Pomeranian                         42
Chesapeake_Bay_retriever           41
French_bulldog                     41
toy_poodle                         37
cocker_spaniel                     34
Siberian_husky                     33
miniature_poodle                   33
beagle                             28
collie                             27
Pembroke                           27
Eskimo_dog                         27
kuvasz                             26
Italian_greyhound                  22
American_Staffordshire_terrier     21
Pekinese                           21
malinois                           20
miniature_pinscher                 20
toy_terrier                        20
chow                               20
Samoyed                            20
Boston_bull                        19
Norwegian_elkhound                 19
Staffordshire_bullterrier          18
Irish_terrier                      17
pug                                17
Shih-Tzu                           16
kelpie                             16
Tibetan_mastiff                    15
whippet                            15
basset                             15
Great_Pyrenees                     14
bull_mastiff                       14
German_shepherd                    14
boxer                              13
malamute                           13
Shetland_sheepdog                  13
West_Highland_white_terrier        13
Border_collie                      12
redbone                            12
seat_belt                          12
soft-coated_wheaten_terrier        12
doormat                            12
black-and-tan_coonhound            12
teddy                              11
Irish_setter                       11
Lhasa                              11
borzoi                             11
groenendael                        10
Siamese_cat                        10
Brabancon_griffon                  10
English_springer                   10
Maltese_dog                         9
Lakeland_terrier                    9
Welsh_springer_spaniel              9
ice_bear                            9
standard_poodle                     8
papillon                            8
schipperke                          8
Rhodesian_ridgeback                 8
Tibetan_terrier                     8
Great_Dane                          8
Rottweiler                          8
Brittany_spaniel                    8
flat-coated_retriever               7
Airedale                            7
English_setter                      7
German_short-haired_pointer         7
Ibizan_hound                        7
Newfoundland                        7
vizsla                              7
guinea_pig                          6
bath_towel                          6
bloodhound                          6
Old_English_sheepdog                6
Greater_Swiss_Mountain_dog          6
Saint_Bernard                       6
bathtub                             6
hamster                             6
llama                               6
Doberman                            6
silky_terrier                       6
keeshond                            6
bluetick                            6
Norfolk_terrier                     6
Walker_hound                        6
Sussex_spaniel                      6
basenji                             6
Afghan_hound                        5
Norwich_terrier                     5
Bedlington_terrier                  5
Yorkshire_terrier                   5
tub                                 5
Leonberg                            5
sunglasses                          5
Border_terrier                      4
wire-haired_fox_terrier             4
dishwasher                          4
Mexican_hairless                    4
window_screen                       4
koala                               4
muzzle                              4
studio_couch                        4
Saluki                              4
Blenheim_spaniel                    4
weasel                              4
briard                              4
Dandie_Dinmont                      4
Angora                              4
hog                                 4
otterhound                          4
skunk                               4
Arctic_fox                          4
badger                              4
mink                                4
cairn                               4
sea_lion                            4
Arabian_camel                       4
dalmatian                           4
ram                                 4
fountain                            3
oscilloscope                        3
Indian_elephant                     3
shopping_basket                     3
monitor                             3
hen                                 3
black-footed_ferret                 3
paddle                              3
envelope                            3
Christmas_stocking                  3
miniature_schnauzer                 3
fur_coat                            3
beach_wagon                         3
Weimaraner                          3
Appenzeller                         3
toilet_seat                         3
cash_machine                        3
meerkat                             3
Irish_wolfhound                     3
tennis_ball                         3
carton                              3
swab                                3
feather_boa                         3
American_black_bear                 3
lakeside                            3
dingo                               3
four-poster                         2
gorilla                             2
harvester                           2
jaguar                              2
tailed_frog                         2
binoculars                          2
tow_truck                           2
English_foxhound                    2
sleeping_bag                        2
goldfish                            2
bison                               2
mask                                2
chain_saw                           2
prayer_rug                          2
loggerhead                          2
dhole                               2
bakery                              2
black_widow                         2
bow_tie                             2
ox                                  2
frilled_lizard                      2
warthog                             2
marmot                              2
prison                              2
plow                                2
macaque                             2
quill                               2
terrapin                            2
house_finch                         2
jean                                2
orange                              2
crossword_puzzle                    2
bighorn                             2
American_alligator                  2
wig                                 2
tabby                               2
giant_schnauzer                     2
pillow                              2
cock                                2
radiator                            2
mongoose                            2
toyshop                             2
Scotch_terrier                      2
swing                               2
gibbon                              2
curly-coated_retriever              2
entertainment_center                2
barrel                              2
minivan                             2
rotisserie                          2
sports_car                          2
punching_bag                        2
wallet                              2
hare                                2
Australian_terrier                  2
cup                                 2
corn                                2
slug                                2
quilt                               2
Sealyham_terrier                    2
palace                              2
rhinoceros_beetle                   2
beaver                              2
Persian_cat                         2
great_white_shark                   2
shower_cap                          1
killer_whale                        1
cougar                              1
spatula                             1
shopping_cart                       1
wood_rabbit                         1
television                          1
dam                                 1
computer_keyboard                   1
turnstile                           1
Gila_monster                        1
tick                                1
hair_slide                          1
giant_panda                         1
sea_urchin                          1
tarantula                           1
purse                               1
quail                               1
Bernese_mountain_dog                1
rifle                               1
cornet                              1
tray                                1
table_lamp                          1
sunglass                            1
indri                               1
soccer_ball                         1
Madagascar_cat                      1
bearskin                            1
cardigan                            1
coffee_mug                          1
bow                                 1
goose                               1
siamang                             1
dumbbell                            1
cannon                              1
bobsled                             1
hay                                 1
desk                                1
seashore                            1
cradle                              1
moped                               1
saltshaker                          1
hand-held_computer                  1
racket                              1
volcano                             1
timber_wolf                         1
peacock                             1
European_gallinule                  1
can_opener                          1
screw                               1
snail                               1
lighter                             1
ice_lolly                           1
lesser_panda                        1
bannister                           1
cloak                               1
apron                               1
Kerry_blue_terrier                  1
armadillo                           1
horse_cart                          1
laptop                              1
projectile                          1
sweatshirt                          1
chimpanzee                          1
web_site                            1
sliding_door                        1
dining_table                        1
bib                                 1
affenpinscher                       1
patio                               1
coral_reef                          1
hair_spray                          1
brown_bear                          1
crutch                              1
toucan                              1
tree_frog                           1
junco                               1
water_bottle                        1
canoe                               1
sandbar                             1
rule                                1
pier                                1
oxygen_mask                         1
grey_fox                            1
wallaby                             1
neck_brace                          1
washbasin                           1
bagel                               1
cowboy_hat                          1
shoji                               1
comic_book                          1
maillot                             1
basketball                          1
standard_schnauzer                  1
shovel                              1
boathouse                           1
grey_whale                          1
spotlight                           1
sarong                              1
mud_turtle                          1
Windsor_tie                         1
crib                                1
platypus                            1
iPod                                1
birdhouse                           1
African_hunting_dog                 1
polecat                             1
solar_dish                          1
mailbox                             1
necklace                            1
umbrella                            1
knee_pad                            1
window_shade                        1
banded_gecko                        1
snorkel                             1
lampshade                           1
mashed_potato                       1
dock                                1
wombat                              1
trench_coat                         1
pickup                              1
printer                             1
academic_gown                       1
lawn_mower                          1
stove                               1
rain_barrel                         1
streetcar                           1
cab                                 1
coral_fungus                        1
waffle_iron                         1
menu                                1
chain_mail                          1
cliff                               1
EntleBucher                         1
folding_chair                       1
leafhopper                          1
confectionery                       1
bathing_cap                         1
minibus                             1
breastplate                         1
cowboy_boot                         1
nail                                1
shower_curtain                      1
sulphur_butterfly                   1
snowmobile                          1
porcupine                           1
sombrero                            1
otter                               1
barracouta                          1
hatchet                             1
home_theater                        1
promontory                          1
paper_towel                         1
dugong                              1
hotdog                              1
tiger                               1
common_newt                         1
jigsaw_puzzle                       1
drake                               1
hyena                               1
barbershop                          1
sock                                1
medicine_chest                      1
stingray                            1
hamper                              1
crate                               1
china_cabinet                       1
lifeboat                            1
accordion                           1
police_van                          1
hummingbird                         1
space_heater                        1
spotted_salamander                  1
red_fox                             1
ashcan                              1
toaster                             1
mosquito_net                        1
bucket                              1
triceratops                         1
pelican                             1
breakwater                          1
water_buffalo                       1
Japanese_spaniel                    1
spindle                             1
torch                               1
sandal                              1
komondor                            1
white_wolf                          1
assault_rifle                       1
handkerchief                        1
cockroach                           1
Name: p2, dtype: int64

In [329]:
#returns counts of unique dog's breeds
img_pred['p3'].value_counts()

Labrador_retriever                79
Chihuahua                         58
golden_retriever                  48
Eskimo_dog                        38
kelpie                            35
kuvasz                            34
Staffordshire_bullterrier         32
chow                              32
cocker_spaniel                    31
beagle                            31
Pekinese                          29
Pomeranian                        29
toy_poodle                        29
Pembroke                          27
Chesapeake_Bay_retriever          27
Great_Pyrenees                    27
French_bulldog                    26
malamute                          26
American_Staffordshire_terrier    24
Cardigan                          23
pug                               23
basenji                           21
bull_mastiff                      20
toy_terrier                       20
Siberian_husky                    19
Shetland_sheepdog                 17
Boston_bull                       17
boxer                             16
doormat                           16
Lakeland_terrier                  16
German_shepherd                   15
dingo                             15
standard_poodle                   15
seat_belt                         15
miniature_pinscher                14
Tibetan_mastiff                   14
collie                            14
Maltese_dog                       14
Saluki                            14
Weimaraner                        13
West_Highland_white_terrier       13
miniature_poodle                  13
teddy                             12
Norfolk_terrier                   12
bloodhound                        12
keeshond                          12
Tibetan_terrier                   12
Siamese_cat                       12
soft-coated_wheaten_terrier       12
English_setter                    12
Irish_terrier                     11
papillon                          11
Airedale                          11
Italian_greyhound                 11
Appenzeller                       11
Norwegian_elkhound                11
Border_collie                     11
Brittany_spaniel                  11
white_wolf                        10
Welsh_springer_spaniel            10
Rhodesian_ridgeback               10
Rottweiler                        10
vizsla                            10
Newfoundland                       9
Great_Dane                         9
Shih-Tzu                           9
whippet                            9
curly-coated_retriever             9
German_short-haired_pointer        8
Saint_Bernard                      8
Irish_setter                       8
Australian_terrier                 8
borzoi                             8
clumber                            7
Yorkshire_terrier                  7
Brabancon_griffon                  7
Old_English_sheepdog               7
otterhound                         7
basset                             7
redbone                            7
Samoyed                            7
bathtub                            7
toilet_tissue                      7
Ibizan_hound                       7
Doberman                           7
English_springer                   7
Norwich_terrier                    6
English_foxhound                   6
EntleBucher                        6
muzzle                             6
bluetick                           6
ice_bear                           6
Lhasa                              6
Border_terrier                     6
schipperke                         6
cairn                              6
flat-coated_retriever              5
bath_towel                         5
hog                                5
Arctic_fox                         5
tennis_ball                        5
groenendael                        5
sandbar                            5
weasel                             5
Leonberg                           5
water_buffalo                      5
giant_schnauzer                    5
dalmatian                          5
Persian_cat                        5
Greater_Swiss_Mountain_dog         5
black-footed_ferret                5
paper_towel                        4
miniature_schnauzer                4
ice_lolly                          4
quilt                              4
Gordon_setter                      4
Afghan_hound                       4
sombrero                           4
Japanese_spaniel                   4
Irish_water_spaniel                4
Dandie_Dinmont                     4
Mexican_hairless                   4
fur_coat                           4
wallaby                            4
black-and-tan_coonhound            4
fountain                           4
swing                              4
three-toed_sloth                   4
sea_lion                           4
television                         4
silky_terrier                      4
malinois                           4
pillow                             3
shower_curtain                     3
sunglasses                         3
printer                            3
wood_rabbit                        3
crane                              3
koala                              3
menu                               3
scuba_diver                        3
hamster                            3
tub                                3
gibbon                             3
umbrella                           3
box_turtle                         3
polecat                            3
microwave                          3
carton                             3
bookcase                           3
limousine                          3
macaque                            3
guinea_pig                         3
wool                               3
wire-haired_fox_terrier            3
sundial                            3
bagel                              3
echidna                            3
purse                              3
Arabian_camel                      3
racket                             3
ski_mask                           3
bubble                             3
Scottish_deerhound                 3
hen                                2
abaya                              2
common_iguana                      2
cougar                             2
Blenheim_spaniel                   2
ram                                2
minibus                            2
dhole                              2
snow_leopard                       2
swab                               2
bison                              2
wreck                              2
Bouvier_des_Flandres               2
lakeside                           2
pizza                              2
Irish_wolfhound                    2
beacon                             2
komondor                           2
Walker_hound                       2
file                               2
mouse                              2
warthog                            2
jigsaw_puzzle                      2
sliding_door                       2
agama                              2
king_penguin                       2
badger                             2
hippopotamus                       2
llama                              2
coyote                             2
shopping_cart                      2
bathing_cap                        2
toilet_seat                        2
leafhopper                         2
squirrel_monkey                    2
titi                               2
car_wheel                          2
prison                             2
convertible                        2
washbasin                          2
giant_panda                        2
bucket                             2
Egyptian_cat                       2
French_loaf                        2
ashcan                             2
Angora                             2
briard                             2
beaver                             2
space_heater                       2
bassinet                           2
Sealyham_terrier                   2
feather_boa                        2
refrigerator                       2
brass                              2
wig                                2
paddlewheel                        2
poncho                             2
shopping_basket                    2
book_jacket                        2
Bernese_mountain_dog               2
lumbermill                         2
mousetrap                          2
Christmas_stocking                 2
mask                               2
envelope                           2
bolete                             2
terrapin                           2
pier                               1
go-kart                            1
mongoose                           1
pot                                1
American_black_bear                1
seashore                           1
broccoli                           1
park_bench                         1
moped                              1
ibex                               1
wok                                1
mink                               1
crayfish                           1
boathouse                          1
snail                              1
bib                                1
cuirass                            1
soccer_ball                        1
mitten                             1
common_newt                        1
brown_bear                         1
rock_crab                          1
crossword_puzzle                   1
spatula                            1
conch                              1
rain_barrel                        1
jeep                               1
barrow                             1
European_fire_salamander           1
canoe                              1
coral_reef                         1
goose                              1
chickadee                          1
affenpinscher                      1
chimpanzee                         1
steam_locomotive                   1
nail                               1
snorkel                            1
mushroom                           1
pool_table                         1
gar                                1
notebook                           1
cheetah                            1
wolf_spider                        1
kimono                             1
zebra                              1
African_grey                       1
oscilloscope                       1
bulletproof_vest                   1
panpipe                            1
entertainment_center               1
electric_fan                       1
theater_curtain                    1
jersey                             1
banana                             1
orangutan                          1
rotisserie                         1
Windsor_tie                        1
hammerhead                         1
greenhouse                         1
bell_cote                          1
axolotl                            1
soap_dispenser                     1
can_opener                         1
African_chameleon                  1
pickup                             1
screw                              1
joystick                           1
viaduct                            1
cloak                              1
bullfrog                           1
switch                             1
Band_Aid                           1
chain                              1
toyshop                            1
buckeye                            1
traffic_light                      1
sea_cucumber                       1
partridge                          1
Kerry_blue_terrier                 1
quill                              1
plunger                            1
bonnet                             1
Sussex_spaniel                     1
swimming_trunks                    1
loupe                              1
mosquito_net                       1
window_screen                      1
wallet                             1
cliff                              1
lampshade                          1
parachute                          1
whiptail                           1
acorn                              1
padlock                            1
tiger_cat                          1
jaguar                             1
grand_piano                        1
cowboy_boot                        1
green_lizard                       1
consomme                           1
chime                              1
mountain_tent                      1
rhinoceros_beetle                  1
lion                               1
desktop_computer                   1
binder                             1
French_horn                        1
space_shuttle                      1
prairie_chicken                    1
chest                              1
plastic_bag                        1
beach_wagon                        1
Indian_elephant                    1
marmot                             1
wombat                             1
stinkhorn                          1
hand-held_computer                 1
screen                             1
triceratops                        1
goldfish                           1
vacuum                             1
maze                               1
assault_rifle                      1
pajama                             1
barber_chair                       1
bow_tie                            1
black_swan                         1
ox                                 1
guillotine                         1
meerkat                            1
gorilla                            1
bow                                1
loggerhead                         1
shower_cap                         1
great_grey_owl                     1
shoji                              1
cardoon                            1
pop_bottle                         1
power_drill                        1
neck_brace                         1
parallel_bars                      1
red_wolf                           1
otter                              1
coffeepot                          1
grocery_store                      1
passenger_car                      1
wild_boar                          1
bannister                          1
hand_blower                        1
hare                               1
restaurant                         1
grey_fox                           1
maraca                             1
nipple                             1
sunglass                           1
standard_schnauzer                 1
rapeseed                           1
eel                                1
hatchet                            1
golfcart                           1
dugong                             1
balance_beam                       1
oxcart                             1
drumstick                          1
cab                                1
valley                             1
paintbrush                         1
wing                               1
cup                                1
shovel                             1
rifle                              1
tripod                             1
barbell                            1
ballplayer                         1
croquet_ball                       1
pretzel                            1
Name: p3, dtype: int64

<a id='issues'></a>
## 4. Issues summary

### I) Tidiness issues

i) There are 4 columns (doggo, floffer, pupper and puppo) in the twitter_archive refering to the dog's stage;

ii) There are three tables that could be merged through the "tweet_id" columns;

### II) Quality issues

- twitter_archive:

i) The "timestamp" column should be converted to datetime64 datatype;

ii) There are multiple dog stages classifications for the same row;

iii) It is necessary to remove the retweets;

iv)  It is necessary to remove columns related to retweets: "in_reply_to_status_id", "in_reply_to_user_id", "retweeted_status_id", "retweeted_status_user_id", "retweeted_status_timestamp";

v) The "name" column has dog's names that were wrongly extracted;

vi) There are wrong values extracted for ratings;

- tweet_json:

vii) The "created_at" column should be converted to datetime64 datatype;

viii) It is necessary to remove the retweets;

- img_pred:

ix) Dog breed names composed by two words are separated by underscores;

x) There are cases of dog breed names in lowercase.

<a id='cleaning'></a>
## 5. Cleaning data

In [330]:
#creates a copy of the original datasets
twarchive_cleaned = twitter_archive.copy(deep=True)
twjson_cleaned = tweet_json.copy(deep=True)
twimg_cleaned = img_pred.copy(deep=True)

<a id='tidiness1'></a>
### 5.1.Tidiness issues ‒ pt. 1

**i) Define**

It's necessary to join the four columns with the data of the dog stages and drop the original ones.

**i) Code**

In [331]:
#replaces the "None" values in dog stage columns
twarchive_cleaned['doggo'].replace('None', '', inplace = True)
twarchive_cleaned['floofer'].replace('None', '', inplace = True)
twarchive_cleaned['pupper'].replace('None', '', inplace = True)
twarchive_cleaned['puppo'].replace('None', '', inplace = True)

In [332]:
#joins the 4 columns into a single one
twarchive_cleaned['dog_stage'] = twarchive_cleaned.doggo + twarchive_cleaned.floofer + twarchive_cleaned.pupper + twarchive_cleaned.puppo

In [333]:
#changes the row values that are empty for "None"
twarchive_cleaned['dog_stage'].replace({'':'None'}, inplace=True)

In [334]:
#drops unnecessary columns
del_col = ['doggo', 'floofer', 'pupper', 'puppo']
twarchive_cleaned.drop(del_col, axis=1, inplace=True)

**i) Test**

In [335]:
#checks the values for the new "dog_stage" column
twarchive_cleaned['dog_stage'].value_counts()

None            1976
pupper           245
doggo             83
puppo             29
doggopupper       12
floofer            9
doggofloofer       1
doggopuppo         1
Name: dog_stage, dtype: int64

In [336]:
#checks if the unnecessary columns were removed
twarchive_cleaned.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,dog_stage
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None

<a id='quality'></a>
### 5.2. Quality issues

#### twitter_archive

**i) Define**

The "timestamp" column should be converted to datetime64 datatype.

**i) Code**

In [337]:
#converts the "timestamp" column to datetime
twarchive_cleaned['timestamp'] = pd.to_datetime(twarchive_cleaned['timestamp'])

**i) Test**

In [338]:
#checks changes
twarchive_cleaned['timestamp'].head(1)

0   2017-08-01 16:23:56+00:00
Name: timestamp, dtype: datetime64[ns, UTC]

**ii) Define**

There are multiple dog stage classifications for the same row. It's necessary to check these rows and, depending on the case, delete them.

**ii) Code**

In [339]:
#checks rows with multiple dog stage classifications
twarchive_cleaned.query('dog_stage == "doggopupper"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [340]:
#checks rows with multiple dog stage classifications
twarchive_cleaned.query('dog_stage == "doggopuppo"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

In [341]:
#checks rows with multiple dog stage classifications
twarchive_cleaned.query('dog_stage == "doggofloofer"').style.set_properties(subset=['text'], **{'width-min': '300px', 'background-color': 'lightyellow'})

>**Note:**
>
>Checking the "text" contents, it is possible to identify that most of these cases are pictures of two dogs. Some of them can be easily corrected and others will be deleted.

In [342]:
#corrects the "dog_stage" values for the rows with multiple dog stage classifications
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 817777686764523521), 'dog_stage'] = 'pupper'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 801115127852503040), 'dog_stage'] = 'pupper'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 785639753186217984), 'dog_stage'] = 'doggo'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 751583847268179968), 'dog_stage'] = 'doggo'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 855851453814013952), 'dog_stage'] = 'puppo'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 854010172552949760), 'dog_stage'] = 'doggo'

In [343]:
#drops rows that cannot be corrected
indx = twarchive_cleaned.query('dog_stage == "doggopupper"').index
twarchive_cleaned.drop(labels=indx,axis=0,inplace=True)

**ii) Test**

In [344]:
#checks the values for the new "dog_stage" column
twarchive_cleaned['dog_stage'].value_counts()

None       1976
pupper      247
doggo        86
puppo        30
floofer       9
Name: dog_stage, dtype: int64

In [345]:
#checks the value correction for the "dog_stage" column
twarchive_cleaned.query('tweet_id == 817777686764523521')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,dog_stage
460,817777686764523521,NaN,NaN,2017-01-07 16:59:28+00:00,"<a href=""http://twitter.com/download/iphone"" r...","This is Dido. She's playing the lead role in ""...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/817777686...,13,10,Dido,pupper

In [346]:
#checks the value correction to the "dog_stage" column
twarchive_cleaned.query('tweet_id == 801115127852503040')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,dog_stage
575,801115127852503040,NaN,NaN,2016-11-22 17:28:25+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Bones. He's being haunted by another d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/801115127...,12,10,Bones,pupper

In [347]:
#checks the value correction to the "dog_stage" column
twarchive_cleaned.query('tweet_id == 785639753186217984')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,dog_stage
705,785639753186217984,NaN,NaN,2016-10-11 00:34:48+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Pinot. He's a sophisticated doggo. You...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/785639753...,10,10,Pinot,doggo

In [348]:
#checks the value correction to the "dog_stage" column
twarchive_cleaned.query('tweet_id == 751583847268179968')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,dog_stage
956,751583847268179968,NaN,NaN,2016-07-09 01:08:47+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Please stop sending it pictures that don't eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/751583847...,5,10,None,doggo

In [349]:
#checks the value correction to the "dog_stage" column
twarchive_cleaned.query('tweet_id == 855851453814013952')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,dog_stage
191,855851453814013952,NaN,NaN,2017-04-22 18:31:02+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo participating in the #ScienceMa...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/855851453...,13,10,None,puppo

In [350]:
#checks the value correction to the "dog_stage" column
twarchive_cleaned.query('tweet_id == 854010172552949760')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,dog_stage
200,854010172552949760,NaN,NaN,2017-04-17 16:34:26+00:00,"<a href=""http://twitter.com/download/iphone"" r...","At first I thought this was a shy doggo, but i...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/854010172...,11,10,None,doggo

**iii) Define**

Unnecessary non-original tweets should be removed from the dataframe.

**iii) Code**

In [351]:
#checks the number of retweets and the total tweets
sum(twarchive_cleaned.retweeted_status_id.notnull()), sum(twarchive_cleaned.tweet_id.notnull())

(179, 2348)

In [352]:
#selects only the rows that have original tweets 
twarchive_cleaned = twarchive_cleaned[twarchive_cleaned.retweeted_status_id.isnull()]

**iii) Test**

In [353]:
#checks changes
sum(twarchive_cleaned.retweeted_status_id.notnull()), sum(twarchive_cleaned.tweet_id.notnull())

(0, 2169)

**iv) Define**

It is necessary to remove columns related to retweet's data.

**iv) Code**

In [354]:
#drops unnecessary columns
del_col2 = ['in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp']
twarchive_cleaned.drop(del_col2, axis=1, inplace=True)

**iv) Test**

In [355]:
#returns the first n rows of the dataframe
twarchive_cleaned.head(0)

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, dog_stage]
Index: []

**v) Define**

The "name" column has dog names that were wrongly extracted. In most cases, there was no name for the dog, so the "name" variable should be "None". But, in a few cases, it is necessary to correct manually the dog's name.

**v) Code**

In [356]:
#lists dog names that were wrongly extracted
del_names = ['very', 'unacceptable', 'this', 'the', 'such', 'space', 'quite', 'one', 'old', 'officially', 'not', 'my', 'mad', 'light', 'life', 'just', 'infuriating', 'incredibly', 'his', 'getting', 'by', 'an', 'all', 'actually', 'a']
#replaces each of them for "None" value
for word in del_names:
    twarchive_cleaned.replace({word:'None'}, inplace=True)

In [357]:
#corrects each "name" values that were posssible
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 748692773788876800), 'name'] = 'Quizno'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 668636665813057536), 'name'] = 'Berta'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 675706639471788032), 'name'] = 'Wylie'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 671743150407421952), 'name'] = 'Jacob'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 671147085991960577), 'name'] = 'Rufus'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 670427002554466305), 'name'] = 'Spork'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 670361874861563904), 'name'] = 'Cherokee'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 670303360680108032), 'name'] = 'Hemry'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 669923323644657664), 'name'] = 'Alphred'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 669564461267722241), 'name'] = 'Alfredo'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 668955713004314625), 'name'] = 'Leroi'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 668507509523615744), 'name'] = 'Chuk'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 668171859951755264), 'name'] = 'Alfonso'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 667861340749471744), 'name'] = 'Cheryl'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 667773195014021121), 'name'] = 'Jessiga'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 667538891197542400), 'name'] = 'Klint'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 667470559035432960), 'name'] = 'Kohl'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 667177989038297088), 'name'] = 'Daryl'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 666983947667116034), 'name'] = 'Pepe'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 666781792255496192), 'name'] = 'Octaviath'
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 666701168228331520), 'name'] = 'Johm'

**v) Test**

In [358]:
#returns counts of unique values for the "name" column
twarchive_cleaned['name'].sort_values()

1035              Abby
1021              Abby
938                Ace
1933              Acro
1327             Adele
1934             Aiden
77                 Aja
480              Akumi
820                 Al
875             Albert
1954            Albert
144              Albus
412              Albus
1115           Aldrick
2046         Alejandro
374          Alexander
1189      Alexanderson
486                Alf
367              Alfie
1616             Alfie
2238             Alfie
858              Alfie
2235           Alfonso
2161           Alfredo
51                Alfy
1701             Alice
201              Alice
2146           Alphred
1495             Amber
1334           Ambrose
2078               Amy
2195            Amélie
780             Anakin
2144             Andru
2084              Andy
849              Angel
443               Anna
2063           Anthony
2088            Antony
1687            Apollo
1059              Aqua
1462            Archie
2               Archie
1400            Archie
1169            Archie
1027             Arlen
284               Arlo
965              Arnie
699              Arnie
1868            Arnold
197               Arya
1809               Ash
311                Ash
1690             Asher
1157          Ashleigh
206              Aspen
1698             Aspen
363             Astrid
880              Atlas
492              Atlas
1013           Atticus
979            Atticus
855              Aubie
514              Augie
457             Autumn
1909               Ava
304                Ava
1086              Axel
1790              Axel
1510            Bailey
1908            Bailey
562             Bailey
65              Bailey
626             Bailey
650             Bailey
1067             Baloo
714              Balto
2197           Banditt
1652             Banjo
1191           Barclay
240             Barney
502              Baron
1577             Barry
2025            Batdog
504              Bauer
2042            Baxter
1582            Baxter
1083            Bayley
652               BeBe
371               Bear
452               Bear
1284              Bear
743               Bear
1421              Beau
70                Beau
975               Beau
909            Beckham
373             Beebop
1256             Beemo
1054              Bell
1768             Bella
1964             Bella
60               Bella
1354             Bella
45               Bella
1089             Bella
147              Belle
861              Belle
2137               Ben
84            Benedict
1219          Benedict
645              Benji
1076             Benji
205              Benny
1208           Bentley
1046           Bentley
1434           Bentley
325            Bentley
265            Bentley
1448              Berb
1170          Berkeley
2183            Bernie
1848            Bernie
1833              Bert
2204             Berta
1211           Bertson
663              Betty
1047              Beya
2279             Biden
1375             Bilbo
2163             Billl
1271             Billy
471              Binky
1594              Birf
1347          Bisquick
2229          Bisquick
1571           Blakely
1038           Blanket
1432           Blipson
1148             Blitz
1221             Blitz
2103              Bloo
1149             Bloop
984                Blu
779               Blue
1202          Bluebert
978                 Bo
449                 Bo
876                 Bo
553                 Bo
679                 Bo
1683                Bo
1919               Bob
1455               Bob
2196              Bobb
1922            Bobbay
1285            Bobble
1629             Bobby
1336              Bode
1484             Bodie
874          Bonaparte
575              Bones
1007         Bookstore
138             Boomer
985             Boomer
220             Boomer
111             Boomer
379              Boots
900             Boston
1187             Bowie
1556              Brad
2026              Brad
2292           Bradlay
2016           Bradley
252              Brady
507             Brandi
901         Brandonald
1657            Brandy
850               Brat
1460             Brian
1504           Brockly
1709             Brody
950              Brody
625              Brody
1672             Brody
328             Bronte
1607            Brooks
674            Brownie
668              Bruce
1730             Bruce
873              Bruce
844             Brudge
1621           Bruiser
11               Bruno
377             Brutus
2017             Bubba
1820           Bubbles
1205           Bubbles
1104           Buckley
1849            Buddah
1518             Buddy
459              Buddy
864              Buddy
1648             Buddy
2003             Buddy
795            Bungalo
158               Burt
681             Butter
2126           Butters
2014               Cal
1216           Calbert
1404           Calbert
723               Cali
183             Callie
1453            Calvin
2256            Calvin
970             Calvin
23              Canela
235             Cannon
823             Carbon
941               Carl
1544              Carl
162               Carl
2303             Carll
1688             Carly
1185            Carper
1426            Carter
1993             Caryl
405               Cash
90                Cash
9               Cassie
1308            Cassie
1425            Cassie
609             Cassie
1412              CeCe
1715              CeCe
1268             Cecil
1521           Cedrick
187             Cermet
1094          Chadrick
1696             Champ
1406             Charl
1125           Charles
1081           Charles
1174         Charleson
1436           Charlie
261            Charlie
2049           Charlie
813            Charlie
326            Charlie
932            Charlie
383            Charlie
254            Charlie
338            Charlie
1682           Charlie
1358           Charlie
1070             Chase
2187              Chaz
1704            Cheesy
579               Chef
793            Chelsea
2125          Cherokee
1985            Cheryl
2249            Cheryl
1913           Chesney
1470           Chester
1494           Chester
2147           Chester
1241           Chester
320            Chester
1342        Chesterson
1381              Chet
1981              Chet
834              Chevy
1363              Chip
1066              Chip
2165              Chip
796               Chip
729            Chipson
1546           Chipson
468              Chloe
1748          Chompsky
2315        Christoper
489             Chubbs
1692             Chuck
1250          Chuckles
1980          Chuckles
2218              Chuk
1798              Chuq
2291           Churlie
2205           Churlie
1140          Cilantro
1553          Clarence
2289          Clarence
2069          Clarence
2148          Clarence
1014             Clark
633              Clark
859              Clark
297              Clark
1305           Clarkus
2174             Clarq
1417            Claude
2243      Cleopatricia
117           Clifford
2296             Clybe
1177             Clyde
1282              Coco
136               Coco
114               Cody
1496              Cody
2075             Colby
1151             Colby
1134           Coleman
1456             Colin
731              Combo
474              Comet
532             Cooper
961             Cooper
607             Cooper
1800            Cooper
910             Cooper
126             Cooper
1395            Cooper
483             Cooper
1333            Cooper
1291            Cooper
1393             Coops
1872             Coops
1377           Coopson
994               Cora
904              Corey
1533            Covach
515              Craig
408           Crawford
2090              Creg
1593           Crimson
1383           Crouton
1769           Crumpet
1764           Crystal
1123           Crystal
1414           Cuddles
1309           Cupcake
2275           Cupcake
385              Cupid
1218            Curtis
1575            Curtis
237              Daisy
1864             Daisy
292              Daisy
2124             Daisy
348              Daisy
1931             Daisy
623              Daisy
1101            Dakota
809             Dakota
697               Dale
706             Dallas
2118             Damon
1384            Daniel
2100             Danny
80               Dante
1998             Darby
3                Darla
1662            Darrel
2287             Daryl
737               Dash
1758              Dash
721               Dave
1399              Dave
2297              Dave
152               Dave
638               Dave
808              Davey
271               Dawn
2221              DayZ
724             Deacon
1562             Derby
28               Derek
768              Derek
1794             Derek
1173             Derek
915              Devón
119              Dewey
930                Dex
683             Dexter
365             Dexter
1973            Dexter
1325            Dexter
460               Dido
987           Dietrich
554              Diogi
989             Divine
812              Dixie
1967            Django
550             Django
635              Dobby
708                Doc
582                Doc
827             DonDon
1839             Donny
372            Doobert
2268              Dook
1946               Dot
1389             Dotsy
1227              Doug
1056              Doug
1424              Doug
423            Duchess
66             Duddles
473             Dudley
2168               Dug
997               Duke
545               Duke
666               Duke
1827              Duke
1485            Dunkin
1537              Durg
350              Dutch
1740            Dwight
2028             Dylan
38                Earl
1925              Earl
722               Earl
1392              Eazy
1195              Ebby
1988                Ed
2106               Edd
1500             Edgar
1057            Edmund
337              Eevee
198           Einstein
495            Eleanor
308                Eli
673                Eli
1705             Ellie
1855             Ellie
1312             Ellie
57              Elliot
1314            Elliot
345            Emanuel
1570             Ember
891               Emma
1725             Emmie
76                Emmy
1136         Enchilada
2244              Erik
1525              Eriq
2101             Ester
461             Eugene
1970               Eve
1741               Evy
2132             Fabio
1294            Farfle
1549              Ferg
883               Fido
1373              Fiji
1398            Fillup
2251             Filup
786             Finley
782             Finley
981               Finn
805               Finn
445               Finn
718               Finn
1307          Finnegus
368              Fiona
636              Fiona
810               Fizz
430              Flash
1974          Fletcher
456           Florence
1133          Flurpson
1196            Flávio
1597            Flávio
688              Frank
2265             Frank
1968           Frankie
711            Frankie
1420          Franklin
4             Franklin
2004             Franq
954               Fred
1155              Fred
1475          Freddery
1559             Frönq
236             Furzey
2280              Fwed
1538              Fynn
418               Gabe
2295              Gabe
490               Gary
1912              Gary
1247              Gary
54                Gary
209            General
2282         Genevieve
1041              Geno
1530             Geoff
983             George
264             George
2262            George
1951            George
232            Georgie
20              Gerald
1965            Gerald
835             Gerald
1617           Gerbald
918               Gert
330             Gidget
959            Gilbert
2096               Gin
82              Ginger
122              Gizmo
1536             Gizmo
2022             Gizmo
1691           Glacier
863              Glenn
719               Godi
1817          Godzilla
1719           Goliath
86               Goose
1580            Gordon
1467             Grady
797               Grey
1651           Griffin
1824           Griffin
1703          Griswold
1762             Grizz
942            Grizzie
46           Grizzwald
854             Gromit
1258            Gunner
49                 Gus
520                Gus
1028               Gus
1921               Gus
1982            Gustaf
1026            Gustav
2217            Gòrdón
2270              Hall
512               Halo
1601           Hammond
2048           Hammond
1555           Hamrick
936               Hank
258               Hank
2113              Hank
2203              Hanz
670              Happy
424             Harlso
1178           Harnold
1045            Harold
128             Harold
1302            Harper
2182          Harrison
104              Harry
1037            Harvey
1522             Hazel
1713            Hector
790           Heinrich
2128             Hemry
1920             Henry
1547            Herald
2192            Herald
2117              Herb
739           Hercules
2061              Herm
1831              Herm
1112          Hermione
709               Hero
1498          Herschel
414             Hobbes
156             Hobbes
2064             Holly
1591            Horace
441              Howie
1615         Hubertson
772               Huck
1793          Humphrey
1735            Hunter
517             Hunter
1742            Hurley
1003            Huxley
214               Iggy
392                Ike
262              Indie
1036             Indie
592               Iroh
526                Ito
1163              Ivar
1776              Izzy
2041                JD
477               Jack
67                Jack
1655              Jack
804               Jack
2000            Jackie
1585           Jackson
821            Jackson
2034             Jacob
974            Jameson
135             Jamesy
1164            Jangle
2228            Jareld
207              Jarod
244             Jarvis
2175           Jaspers
1674               Jax
976                Jax
2045               Jax
917                Jax
6                  Jax
1105               Jax
752                Jay
2190            Jaycob
2002              Jazz
442              Jazzy
1899               Jeb
1289         Jebberson
92                 Jed
21             Jeffrey
1033           Jeffrey
590            Jeffrey
769            Jeffrey
1956            Jeffri
2098           Jeffrie
1199          Jennifur
1632              Jeph
2308              Jeph
2188            Jeremy
1765            Jerome
229              Jerry
1619             Jerry
2097             Jerry
1989             Jerry
153             Jersey
61               Jesse
830              Jesse
1773          Jessifer
1418           Jessiga
2255           Jessiga
2077              Jett
16                 Jim
33               Jimbo
1300           Jiminus
1645            Jiminy
2240            Jiminy
421            Jimison
1984           Jimison
2317           Jimothy
1335           Jimothy
1681           Jimothy
2219                Jo
2309           Jockson
1667              Joey
2314              Johm
2209          Jomathan
1910             Jonah
163              Jordy
2312             Josep
2283            Joshwa
1796           Juckson
2143             Julio
2051            Julius
641               Juno
848               Juno
1387              Kaia
1930             Kaiya
2210            Kallie
1236              Kane
1226              Kanu
1323              Kara
1803              Karl
1145             Karll
1270             Karma
1310         Kathmandu
1315             Katie
1720             Kawhi
1050             Kayla
2300              Keet
928              Keith
2159             Keith
1103           Kellogg
463                Ken
1953           Kendall
1830           Kenneth
2290           Kenneth
1917             Kenny
1975            Kenzie
1006            Keurig
1303            Keurig
40               Kevin
225              Kevin
2199             Kevon
2263              Kial
1565              Kilo
1048              Kilo
1503          Kingsley
828              Kirby
888              Kirby
2171              Kirk
824              Klein
1277            Klevin
1443            Klevin
2302            Klevin
2264             Klint
2150             Kloey
1472              Kobe
738               Koda
1962              Koda
1320              Koda
2111              Koda
528               Koda
10                Koda
105               Kody
2273              Kohl
52                Koko
2160            Kollin
378               Kona
856               Kota
1576            Kramer
2007              Kreg
1671              Kreg
2318          Kreggory
1158          Kreggory
1639             Kulet
347               Kuyu
216               Kyle
1117              Kyle
1078              Kyle
524               Kyro
1261              Lacy
1881             Laela
631              Laika
2193           Lambeau
1231             Lance
1658             Larry
2123             Larry
1950             Larry
1118             Larry
106             Lassie
1326             Layla
496              Layla
862              Leela
536             Lennon
1915            Lennon
1911             Lenny
1851             Lenny
1030             Lenox
1064               Leo
685                Leo
361                Leo
217                Leo
1509               Leo
907            Leonard
1990          Leonidas
2191             Leroi
659               Levi
2135              Liam
971              Lilah
134               Lili
898              Lilli
1152            Lillie
356              Lilly
1422              Lily
643               Lily
1092              Lily
691            Lincoln
1480           Lincoln
1754             Linda
2158             Linda
1198              Link
1011             Linus
324             Lipton
1107            Livvie
1563            Lizzie
695              Logan
567               Loki
384               Loki
791               Loki
951               Lola
1469              Lola
1153              Lola
2023              Lola
39                Lola
312               Lola
1752              Lola
2058              Lola
1524              Lolo
588         Longfellow
717             Loomis
1602           Lorelei
161            Lorenzo
1458           Lorenzo
831                Lou
2057               Lou
853              Louie
2151             Louie
838              Louie
58               Louis
1567             Louis
1561             Louis
1746             Louis
1906             Louis
428               Luca
1539              Luca
1346             Lucia
1548             Lucky
1541              Lucy
1278              Lucy
680               Lucy
1927              Lucy
1180              Lucy
305               Lucy
1328              Lucy
1365              Lucy
296               Lucy
980               Lucy
703               Lucy
2313             Lugan
1661              Lulu
253               Luna
1364              Luna
894               Luna
1642              Lupe
1160            Luther
660              Mabel
1971               Mac
628               Mack
1020            Maddie
276             Maddie
2083            Maggie
667             Maggie
1887            Maggie
716              Mairi
34              Maisey
544              Major
2208              Maks
2052           Malcolm
964            Malcolm
364            Malcolm
1280           Malikai
255              Margo
2032              Mark
196             Marlee
560             Marley
2039            Marley
1573              Marq
1606             Marty
2213            Marvin
509               Mary
2085             Mason
700             Mattie
642              Maude
578              Mauve
270                Max
957                Max
1329               Max
1052          Maxaroni
1099          Maxaroni
1419           Maximus
632            Maximus
783            Maximus
1529           Maxwell
26                Maya
142           Meatball
300              Meera
963              Meyer

In [359]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 748692773788876800').name

992    Quizno
Name: name, dtype: object

In [360]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 668636665813057536').name

2204    Berta
Name: name, dtype: object

In [361]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 675706639471788032').name

1853    Wylie
Name: name, dtype: object

In [362]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 671743150407421952').name

2034    Jacob
Name: name, dtype: object

In [363]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 671147085991960577').name

2066    Rufus
Name: name, dtype: object

In [364]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 670427002554466305').name

2116    Spork
Name: name, dtype: object

In [365]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 670361874861563904').name

2125    Cherokee
Name: name, dtype: object

In [366]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 670303360680108032').name

2128    Hemry
Name: name, dtype: object

In [367]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 669923323644657664').name

2146    Alphred
Name: name, dtype: object

In [368]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 669564461267722241').name

2161    Alfredo
Name: name, dtype: object

In [369]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 668955713004314625').name

2191    Leroi
Name: name, dtype: object

In [370]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 668507509523615744').name

2218    Chuk
Name: name, dtype: object

In [371]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 668171859951755264').name

2235    Alfonso
Name: name, dtype: object

In [372]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 667861340749471744').name

2249    Cheryl
Name: name, dtype: object

In [373]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 667773195014021121').name

2255    Jessiga
Name: name, dtype: object

In [374]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 667538891197542400').name

2264    Klint
Name: name, dtype: object

In [375]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 667470559035432960').name

2273    Kohl
Name: name, dtype: object

In [376]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 667177989038297088').name

2287    Daryl
Name: name, dtype: object

In [377]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 666983947667116034').name

2304    Pepe
Name: name, dtype: object

In [378]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 666781792255496192').name

2311    Octaviath
Name: name, dtype: object

In [379]:
#checks the "name" correction
twarchive_cleaned.query('tweet_id == 666701168228331520').name

2314    Johm
Name: name, dtype: object

**vi) Define**

Most of the rates are from 1 to 10 (e.g., 11/10 or 13/10), with numerators greater than 10 because this is a humorous rating system. Checking on weird denominators, which were different from 10, It was (visually) noticed some wrong extractions for these values. So, it is necessary to corret these rates.

**Vi) Code**

In [380]:
#corrects the rating numerator and denominator of this selected row
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 740373189193256964), 'rating_numerator'] = 14
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 740373189193256964), 'rating_denominator'] = 10

In [381]:
#corrects the rating numerator and denominator of this selected row
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 682962037429899265), 'rating_numerator'] = 10
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 682962037429899265), 'rating_denominator'] = 10

In [382]:
#corrects the rating numerator and denominator of this selected row
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 716439118184652801), 'rating_numerator'] = 11
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 716439118184652801), 'rating_denominator'] = 10

In [383]:
#corrects the rating numerator and denominator of this selected row
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 722974582966214656), 'rating_numerator'] = 13
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 722974582966214656), 'rating_denominator'] = 10

In [384]:
#corrects the rating numerator and denominator of this selected row
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 666287406224695296), 'rating_numerator'] = 9
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 666287406224695296), 'rating_denominator'] = 10

In [385]:
#corrects the rating numerator and denominator of this selected row
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 835246439529840640), 'rating_numerator'] = 13
twarchive_cleaned.loc[(twarchive_cleaned.tweet_id == 835246439529840640), 'rating_denominator'] = 10

In [386]:
#drops row without rating
indx = twarchive_cleaned.query('tweet_id == 832088576586297345').index
twarchive_cleaned.drop(labels=indx,axis=0,inplace=True)

**vi) Test**

In [387]:
#checks if the row was droped
twarchive_cleaned.query('tweet_id == 832088576586297345')

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, dog_stage]
Index: []

In [388]:
#checks the rating correction
twarchive_cleaned.query('tweet_id == 740373189193256964').rating_numerator, twarchive_cleaned.query('tweet_id == 740373189193256964').rating_denominator

(1068    14
 Name: rating_numerator, dtype: int64,
 1068    10
 Name: rating_denominator, dtype: int64)

In [389]:
#checks the rating correction
twarchive_cleaned.query('tweet_id == 682962037429899265').rating_numerator, twarchive_cleaned.query('tweet_id == 682962037429899265').rating_denominator

(1662    10
 Name: rating_numerator, dtype: int64,
 1662    10
 Name: rating_denominator, dtype: int64)

In [390]:
#checks the rating correction
twarchive_cleaned.query('tweet_id == 716439118184652801').rating_numerator, twarchive_cleaned.query('tweet_id == 716439118184652801').rating_denominator

(1202    11
 Name: rating_numerator, dtype: int64,
 1202    10
 Name: rating_denominator, dtype: int64)

In [391]:
#checks the rating correction
twarchive_cleaned.query('tweet_id == 722974582966214656').rating_numerator, twarchive_cleaned.query('tweet_id == 722974582966214656').rating_denominator

(1165    13
 Name: rating_numerator, dtype: int64,
 1165    10
 Name: rating_denominator, dtype: int64)

In [392]:
#checks the rating correction
twarchive_cleaned.query('tweet_id == 666287406224695296').rating_numerator, twarchive_cleaned.query('tweet_id == 666287406224695296').rating_denominator

(2335    9
 Name: rating_numerator, dtype: int64,
 2335    10
 Name: rating_denominator, dtype: int64)

In [393]:
#checks the rating correction
twarchive_cleaned.query('tweet_id == 835246439529840640').rating_numerator, twarchive_cleaned.query('tweet_id == 835246439529840640').rating_denominator

(313    13
 Name: rating_numerator, dtype: int64,
 313    10
 Name: rating_denominator, dtype: int64)

#### tweet_json

**vii) Define**

The "created_at" column should be converted to datetime64 datatype.

**vii) Code**

In [394]:
#converts "created_at" column to datetime
twjson_cleaned['created_at'] = pd.to_datetime(twjson_cleaned['created_at'])

**vii) Test**

In [395]:
#checks changes
twjson_cleaned['created_at'].head(1)

0   2017-08-01 16:23:56+00:00
Name: created_at, dtype: datetime64[ns, UTC]

**viii) Define**

Unnecessary non-original tweets should be removed from the dataframe.

**viii) Code**

In [396]:
#checks the number of retweets and the total tweets
twjson_cleaned['retweeted_status'].value_counts()

Original tweet       2160
This is a retweet     160
Name: retweeted_status, dtype: int64

In [397]:
#selects only the rows that have original tweets 
twjson_cleaned = twjson_cleaned[twjson_cleaned['retweeted_status'] == 'Original tweet']

**viii) Test**

In [398]:
#checks changes
twjson_cleaned['retweeted_status'].value_counts()

Original tweet    2160
Name: retweeted_status, dtype: int64

#### img_pred

**ix) Define**

The dog breed names that are composed by two words are separated by underscores. It would be nice to substitute underscores for  spaces.

**ix) Code**

In [399]:
#replaces the underscores with spaces
twimg_cleaned[['p1', 'p2', 'p3']] = twimg_cleaned[['p1', 'p2', 'p3']].replace(r"_", " ", regex=True)

**ix) Test**

In [400]:
#returns counts of unique values for the "dog_stag" column
twimg_cleaned['p1'].sort_values()

1561                      Afghan hound
1855                      Afghan hound
1458                      Afghan hound
1804                      Afghan hound
446                  African crocodile
1371                      African grey
289                African hunting dog
1883                          Airedale
678                           Airedale
425                           Airedale
1319                          Airedale
1646                          Airedale
378                           Airedale
49                            Airedale
603                           Airedale
952                           Airedale
189                           Airedale
582                           Airedale
1465                          Airedale
139     American Staffordshire terrier
269     American Staffordshire terrier
1837    American Staffordshire terrier
550     American Staffordshire terrier
909     American Staffordshire terrier
1582    American Staffordshire terrier
758     American Staffordshire terrier
767     American Staffordshire terrier
1146    American Staffordshire terrier
1586    American Staffordshire terrier
1776    American Staffordshire terrier
1773    American Staffordshire terrier
1724    American Staffordshire terrier
1284               American black bear
117                             Angora
1932                            Angora
859                        Appenzeller
2068                       Appenzeller
168                      Arabian camel
1944                     Arabian camel
1638                     Arabian camel
393                         Arctic fox
118                         Arctic fox
133                         Arctic fox
243                         Arctic fox
1948                Australian terrier
838                 Australian terrier
1938                Bedlington terrier
1298                Bedlington terrier
1888                Bedlington terrier
1181                Bedlington terrier
1777                Bedlington terrier
451               Bernese mountain dog
1885              Bernese mountain dog
801               Bernese mountain dog
980               Bernese mountain dog
707               Bernese mountain dog
2000              Bernese mountain dog
1412              Bernese mountain dog
5                 Bernese mountain dog
1379              Bernese mountain dog
1537              Bernese mountain dog
31                    Blenheim spaniel
979                   Blenheim spaniel
1918                  Blenheim spaniel
214                   Blenheim spaniel
1189                  Blenheim spaniel
2043                  Blenheim spaniel
545                   Blenheim spaniel
120                   Blenheim spaniel
1430                  Blenheim spaniel
1359                  Blenheim spaniel
1964                  Blenheim spaniel
1966                     Border collie
1600                     Border collie
1112                     Border collie
933                      Border collie
1690                     Border collie
1282                     Border collie
39                       Border collie
1825                     Border collie
705                      Border collie
348                      Border collie
916                      Border collie
1128                     Border collie
1719                    Border terrier
899                     Border terrier
1754                    Border terrier
966                     Border terrier
1788                    Border terrier
1822                    Border terrier
1845                    Border terrier
1406                       Boston bull
1922                       Boston bull
1237                       Boston bull
842                        Boston bull
742                        Boston bull
1461                       Boston bull
712                        Boston bull
923                        Boston bull
523                        Boston bull
440                  Brabancon griffon
410                  Brabancon griffon
188                  Brabancon griffon
616                   Brittany spaniel
1079                  Brittany spaniel
1059                  Brittany spaniel
160                   Brittany spaniel
1854                  Brittany spaniel
1049                  Brittany spaniel
881                   Brittany spaniel
1901                          Cardigan
1494                          Cardigan
760                           Cardigan
1939                          Cardigan
1943                          Cardigan
1583                          Cardigan
1577                          Cardigan
1884                          Cardigan
1495                          Cardigan
423                           Cardigan
995                           Cardigan
1812                          Cardigan
1809                          Cardigan
1208                          Cardigan
1636                          Cardigan
1721                          Cardigan
1993                          Cardigan
1245                          Cardigan
432                           Cardigan
360           Chesapeake Bay retriever
1850          Chesapeake Bay retriever
55            Chesapeake Bay retriever
1531          Chesapeake Bay retriever
1267          Chesapeake Bay retriever
1958          Chesapeake Bay retriever
532           Chesapeake Bay retriever
534           Chesapeake Bay retriever
34            Chesapeake Bay retriever
1337          Chesapeake Bay retriever
154           Chesapeake Bay retriever
1247          Chesapeake Bay retriever
2007          Chesapeake Bay retriever
1340          Chesapeake Bay retriever
1341          Chesapeake Bay retriever
1480          Chesapeake Bay retriever
1493          Chesapeake Bay retriever
1203          Chesapeake Bay retriever
2069          Chesapeake Bay retriever
401           Chesapeake Bay retriever
1193          Chesapeake Bay retriever
717           Chesapeake Bay retriever
874           Chesapeake Bay retriever
437                          Chihuahua
343                          Chihuahua
259                          Chihuahua
407                          Chihuahua
1797                         Chihuahua
1518                         Chihuahua
363                          Chihuahua
367                          Chihuahua
1916                         Chihuahua
1497                         Chihuahua
1920                         Chihuahua
384                          Chihuahua
1528                         Chihuahua
339                          Chihuahua
1815                         Chihuahua
456                          Chihuahua
1615                         Chihuahua
602                          Chihuahua
1593                         Chihuahua
649                          Chihuahua
1864                         Chihuahua
1641                         Chihuahua
564                          Chihuahua
1857                         Chihuahua
554                          Chihuahua
292                          Chihuahua
529                          Chihuahua
222                          Chihuahua
527                          Chihuahua
234                          Chihuahua
696                          Chihuahua
511                          Chihuahua
1692                         Chihuahua
319                          Chihuahua
697                          Chihuahua
1894                         Chihuahua
482                          Chihuahua
1697                         Chihuahua
622                          Chihuahua
1713                         Chihuahua
690                          Chihuahua
595                          Chihuahua
768                          Chihuahua
192                          Chihuahua
1061                         Chihuahua
915                          Chihuahua
2018                         Chihuahua
2073                         Chihuahua
1453                         Chihuahua
860                          Chihuahua
1015                         Chihuahua
144                          Chihuahua
1008                         Chihuahua
998                          Chihuahua
58                           Chihuahua
83                           Chihuahua
975                          Chihuahua
956                          Chihuahua
955                          Chihuahua
886                          Chihuahua
1422                         Chihuahua
946                          Chihuahua
1972                         Chihuahua
901                          Chihuahua
125                          Chihuahua
918                          Chihuahua
982                          Chihuahua
57                           Chihuahua
1454                         Chihuahua
119                          Chihuahua
27                           Chihuahua
173                          Chihuahua
1469                         Chihuahua
2072                         Chihuahua
1081                         Chihuahua
1062                         Chihuahua
175                          Chihuahua
804                          Chihuahua
1202                         Chihuahua
35                           Chihuahua
184                          Chihuahua
1101                         Chihuahua
2048                         Chihuahua
201                 Christmas stocking
615                 Christmas stocking
617                 Christmas stocking
450                     Dandie Dinmont
1874                    Dandie Dinmont
1067                    Dandie Dinmont
248                     Dandie Dinmont
897                     Dandie Dinmont
1089                    Dandie Dinmont
1390                          Doberman
2034                          Doberman
1794                          Doberman
1734                          Doberman
1670                          Doberman
306                           Doberman
1704                          Doberman
350                           Doberman
954                       Egyptian cat
1753                    English setter
16                      English setter
541                     English setter
1150                    English setter
46                      English setter
1693                    English setter
389                     English setter
665                     English setter
744                   English springer
1590                  English springer
241                   English springer
1913                  English springer
462                   English springer
227                   English springer
492                   English springer
2014                  English springer
662                   English springer
765                   English springer
605                        EntleBucher
1145                        Eskimo dog
419                         Eskimo dog
1965                        Eskimo dog
427                         Eskimo dog
1438                        Eskimo dog
1952                        Eskimo dog
1798                        Eskimo dog
751                         Eskimo dog
2030                        Eskimo dog
772                         Eskimo dog
562                         Eskimo dog
1003                        Eskimo dog
1756                        Eskimo dog
585                         Eskimo dog
196                         Eskimo dog
1614                        Eskimo dog
1186                        Eskimo dog
1808                        Eskimo dog
600                     French bulldog
1927                    French bulldog
1681                    French bulldog
879                     French bulldog
1309                    French bulldog
1763                    French bulldog
919                     French bulldog
624                     French bulldog
1935                    French bulldog
1949                    French bulldog
514                     French bulldog
2045                    French bulldog
1961                    French bulldog
2061                    French bulldog
1157                    French bulldog
374                     French bulldog
1860                    French bulldog
994                     French bulldog
2054                    French bulldog
2008                    French bulldog
674                     French bulldog
146                     French bulldog
2063                    French bulldog
1029                    French bulldog
1787                    French bulldog
1765                    French bulldog
1519                   German shepherd
1941                   German shepherd
727                    German shepherd
1460                   German shepherd
2035                   German shepherd
1732                   German shepherd
1466                   German shepherd
299                    German shepherd
1302                   German shepherd
1689                   German shepherd
431                    German shepherd
1139                   German shepherd
40                     German shepherd
1234                   German shepherd
1772                   German shepherd
1378                   German shepherd
2                      German shepherd
1764                   German shepherd
1301                   German shepherd
1911                   German shepherd
1114       German short-haired pointer
1262       German short-haired pointer
405        German short-haired pointer
817        German short-haired pointer
2015       German short-haired pointer
883        German short-haired pointer
220        German short-haired pointer
1365                     Gordon setter
313                      Gordon setter
11                       Gordon setter
1726                     Gordon setter
1474                        Great Dane
1671                        Great Dane
862                         Great Dane
1768                        Great Dane
871                         Great Dane
724                         Great Dane
1909                        Great Dane
1105                        Great Dane
863                         Great Dane
957                     Great Pyrenees
1842                    Great Pyrenees
531                     Great Pyrenees
1127                    Great Pyrenees
355                     Great Pyrenees
941                     Great Pyrenees
1759                    Great Pyrenees
1048                    Great Pyrenees
1508                    Great Pyrenees
1058                    Great Pyrenees
1399                    Great Pyrenees
910                     Great Pyrenees
1766                    Great Pyrenees
1044                    Great Pyrenees
1651        Greater Swiss Mountain dog
1976        Greater Swiss Mountain dog
428         Greater Swiss Mountain dog
762                       Ibizan hound
38                        Ibizan hound
249                       Ibizan hound
1490                      Irish setter
2006                      Irish setter
1666                      Irish setter
635                       Irish setter
1634                      Irish setter
1733                      Irish setter
2066                     Irish terrier
344                      Irish terrier
340                      Irish terrier
1345                     Irish terrier
579                      Irish terrier
224                      Irish terrier
510                Irish water spaniel
1192               Irish water spaniel
1873               Irish water spaniel
216                  Italian greyhound
1408                 Italian greyhound
776                  Italian greyhound
876                  Italian greyhound
590                  Italian greyhound
86                   Italian greyhound
1326                 Italian greyhound
676                  Italian greyhound
295                  Italian greyhound
44                   Italian greyhound
19                   Italian greyhound
2039                 Italian greyhound
505                  Italian greyhound
2010                 Italian greyhound
884                  Italian greyhound
1552                 Italian greyhound
544                   Japanese spaniel
1616                Labrador retriever
1867                Labrador retriever
1274                Labrador retriever
2041                Labrador retriever
1868                Labrador retriever
1996                Labrador retriever
258                 Labrador retriever
630                 Labrador retriever
1871                Labrador retriever
890                 Labrador retriever
1594                Labrador retriever
1085                Labrador retriever
41                  Labrador retriever
1982                Labrador retriever
271                 Labrador retriever
501                 Labrador retriever
506                 Labrador retriever
1683                Labrador retriever
1415                Labrador retriever
539                 Labrador retriever
940                 Labrador retriever
1104                Labrador retriever
287                 Labrador retriever
1652                Labrador retriever
1643                Labrador retriever
1985                Labrador retriever
575                 Labrador retriever
1863                Labrador retriever
583                 Labrador retriever
584                 Labrador retriever
1866                Labrador retriever
1419                Labrador retriever
1623                Labrador retriever
650                 Labrador retriever
1291                Labrador retriever
1423                Labrador retriever
1327                Labrador retriever
1511                Labrador retriever
1009                Labrador retriever
79                  Labrador retriever
1338                Labrador retriever
185                 Labrador retriever
84                  Labrador retriever
1926                Labrador retriever
735                 Labrador retriever
1343                Labrador retriever
865                 Labrador retriever
1349                Labrador retriever
1989                Labrador retriever
1352                Labrador retriever
826                 Labrador retriever
1369                Labrador retriever
1451                Labrador retriever
1999                Labrador retriever
1934                Labrador retriever
1287                Labrador retriever
137                 Labrador retriever
1316                Labrador retriever
1288                Labrador retriever
1969                Labrador retriever
1241                Labrador retriever
2029                Labrador retriever
1566                Labrador retriever
1967                Labrador retriever
1296                Labrador retriever
1052                Labrador retriever
729                 Labrador retriever
686                 Labrador retriever
695                 Labrador retriever
1550                Labrador retriever
1045                Labrador retriever
1043                Labrador retriever
704                 Labrador retriever
1041                Labrador retriever
1534                Labrador retriever
875                 Labrador retriever
1555                Labrador retriever
1695                Labrador retriever
1870                Labrador retriever
483                 Labrador retriever
1204                Labrador retriever
1184                Labrador retriever
1714                Labrador retriever
1221                Labrador retriever
481                 Labrador retriever
322                 Labrador retriever
1762                Labrador retriever
397                 Labrador retriever
1228                Labrador retriever
326                 Labrador retriever
114                 Labrador retriever
121                 Labrador retriever
1188                Labrador retriever
1791                Labrador retriever
1398                Labrador retriever
459                 Labrador retriever
1786                Labrador retriever
472                 Labrador retriever
469                 Labrador retriever
1170                Labrador retriever
620                   Lakeland terrier
138                   Lakeland terrier
800                   Lakeland terrier
304                   Lakeland terrier

In [401]:
#returns counts of unique values for the "dog_stag" column
twimg_cleaned['p2'].sort_values()

2024                      Afghan hound
1701                      Afghan hound
26                        Afghan hound
460                       Afghan hound
1290                      Afghan hound
53                 African hunting dog
983                           Airedale
340                           Airedale
548                           Airedale
1730                          Airedale
1493                          Airedale
716                           Airedale
1950                          Airedale
1632    American Staffordshire terrier
1406    American Staffordshire terrier
1849    American Staffordshire terrier
1824    American Staffordshire terrier
1218    American Staffordshire terrier
1654    American Staffordshire terrier
689     American Staffordshire terrier
768     American Staffordshire terrier
1903    American Staffordshire terrier
1881    American Staffordshire terrier
875     American Staffordshire terrier
992     American Staffordshire terrier
2039    American Staffordshire terrier
1768    American Staffordshire terrier
401     American Staffordshire terrier
963     American Staffordshire terrier
1785    American Staffordshire terrier
1613    American Staffordshire terrier
1152    American Staffordshire terrier
216     American Staffordshire terrier
1882    American Staffordshire terrier
446                 American alligator
434                 American alligator
332                American black bear
258                American black bear
1891               American black bear
556                             Angora
1199                            Angora
743                             Angora
2023                            Angora
1379                       Appenzeller
1976                       Appenzeller
707                        Appenzeller
1032                     Arabian camel
1140                     Arabian camel
687                      Arabian camel
342                      Arabian camel
816                         Arctic fox
454                         Arctic fox
398                         Arctic fox
851                         Arctic fox
579                 Australian terrier
147                 Australian terrier
571                 Bedlington terrier
134                 Bedlington terrier
1347                Bedlington terrier
1565                Bedlington terrier
1054                Bedlington terrier
1904              Bernese mountain dog
1182                  Blenheim spaniel
757                   Blenheim spaniel
190                   Blenheim spaniel
1854                  Blenheim spaniel
1771                     Border collie
578                      Border collie
74                       Border collie
1150                     Border collie
1693                     Border collie
1208                     Border collie
1584                     Border collie
1418                     Border collie
961                      Border collie
801                      Border collie
2068                     Border collie
1426                     Border collie
603                     Border terrier
1120                    Border terrier
1827                    Border terrier
1713                    Border terrier
2014                       Boston bull
1671                       Boston bull
2008                       Boston bull
1583                       Boston bull
879                        Boston bull
1281                       Boston bull
1961                       Boston bull
437                        Boston bull
873                        Boston bull
1272                       Boston bull
500                        Boston bull
598                        Boston bull
1681                       Boston bull
1029                       Boston bull
1884                       Boston bull
1309                       Boston bull
674                        Boston bull
522                        Boston bull
1083                       Boston bull
413                  Brabancon griffon
1845                 Brabancon griffon
1807                 Brabancon griffon
257                  Brabancon griffon
1401                 Brabancon griffon
1476                 Brabancon griffon
1209                 Brabancon griffon
1264                 Brabancon griffon
370                  Brabancon griffon
1907                 Brabancon griffon
46                    Brittany spaniel
241                   Brittany spaniel
1590                  Brittany spaniel
1793                  Brittany spaniel
1637                  Brittany spaniel
389                   Brittany spaniel
469                   Brittany spaniel
249                   Brittany spaniel
1957                          Cardigan
360                           Cardigan
1915                          Cardigan
1865                          Cardigan
1929                          Cardigan
1176                          Cardigan
1149                          Cardigan
1917                          Cardigan
1303                          Cardigan
1861                          Cardigan
223                           Cardigan
1651                          Cardigan
1136                          Cardigan
679                           Cardigan
1607                          Cardigan
1017                          Cardigan
702                           Cardigan
1585                          Cardigan
756                           Cardigan
771                           Cardigan
1543                          Cardigan
1535                          Cardigan
1421                          Cardigan
834                           Cardigan
1513                          Cardigan
848                           Cardigan
872                           Cardigan
1478                          Cardigan
895                           Cardigan
916                           Cardigan
1464                          Cardigan
944                           Cardigan
1612                          Cardigan
362                           Cardigan
673                           Cardigan
662                           Cardigan
1335                          Cardigan
1336                          Cardigan
1339                          Cardigan
1799                          Cardigan
415                           Cardigan
461                           Cardigan
1098                          Cardigan
1752                          Cardigan
478                           Cardigan
490                           Cardigan
1736                          Cardigan
1087                          Cardigan
1690                          Cardigan
570                           Cardigan
1382                          Cardigan
1659                          Cardigan
1031                          Cardigan
1026                          Cardigan
1024                          Cardigan
663                           Cardigan
179                           Cardigan
473                           Cardigan
1259                          Cardigan
1973                          Cardigan
1974                          Cardigan
1978                          Cardigan
1285                          Cardigan
1986                          Cardigan
127                           Cardigan
116                           Cardigan
2003                          Cardigan
2062                          Cardigan
1966                          Cardigan
2036                          Cardigan
172                           Cardigan
2065                          Cardigan
89                            Cardigan
228           Chesapeake Bay retriever
1212          Chesapeake Bay retriever
888           Chesapeake Bay retriever
1398          Chesapeake Bay retriever
1868          Chesapeake Bay retriever
1999          Chesapeake Bay retriever
1433          Chesapeake Bay retriever
1055          Chesapeake Bay retriever
1484          Chesapeake Bay retriever
767           Chesapeake Bay retriever
855           Chesapeake Bay retriever
163           Chesapeake Bay retriever
2029          Chesapeake Bay retriever
67            Chesapeake Bay retriever
735           Chesapeake Bay retriever
1989          Chesapeake Bay retriever
238           Chesapeake Bay retriever
1327          Chesapeake Bay retriever
1826          Chesapeake Bay retriever
824           Chesapeake Bay retriever
1348          Chesapeake Bay retriever
584           Chesapeake Bay retriever
928           Chesapeake Bay retriever
1287          Chesapeake Bay retriever
1574          Chesapeake Bay retriever
23            Chesapeake Bay retriever
991           Chesapeake Bay retriever
102           Chesapeake Bay retriever
940           Chesapeake Bay retriever
459           Chesapeake Bay retriever
1778          Chesapeake Bay retriever
1369          Chesapeake Bay retriever
287           Chesapeake Bay retriever
1288          Chesapeake Bay retriever
1782          Chesapeake Bay retriever
954           Chesapeake Bay retriever
2025          Chesapeake Bay retriever
1451          Chesapeake Bay retriever
1712          Chesapeake Bay retriever
1780          Chesapeake Bay retriever
695           Chesapeake Bay retriever
65                           Chihuahua
891                          Chihuahua
1971                         Chihuahua
514                          Chihuahua
1901                         Chihuahua
281                          Chihuahua
624                          Chihuahua
322                          Chihuahua
1586                         Chihuahua
967                          Chihuahua
1743                         Chihuahua
972                          Chihuahua
1747                         Chihuahua
103                          Chihuahua
1103                         Chihuahua
994                          Chihuahua
1563                         Chihuahua
752                          Chihuahua
1425                         Chihuahua
1060                         Chihuahua
410                          Chihuahua
2028                         Chihuahua
270                          Chihuahua
1803                         Chihuahua
845                          Chihuahua
739                          Chihuahua
383                          Chihuahua
762                          Chihuahua
600                          Chihuahua
1126                         Chihuahua
1338                         Chihuahua
1248                         Chihuahua
41                           Chihuahua
352                          Chihuahua
2045                         Chihuahua
947                          Chihuahua
1912                         Chihuahua
1269                         Chihuahua
1405                         Chihuahua
167                          Chihuahua
1442                         Chihuahua
59                           Chihuahua
667                          Chihuahua
202                          Chihuahua
866                 Christmas stocking
391                 Christmas stocking
83                  Christmas stocking
1011                    Dandie Dinmont
1025                    Dandie Dinmont
1645                    Dandie Dinmont
1610                    Dandie Dinmont
1914                          Doberman
563                           Doberman
526                           Doberman
819                           Doberman
1139                          Doberman
463                           Doberman
1187                  English foxhound
12                    English foxhound
1300                    English setter
744                     English setter
227                     English setter
699                     English setter
1609                    English setter
468                     English setter
101                     English setter
665                   English springer
171                   English springer
820                   English springer
39                    English springer
5                     English springer
781                   English springer
2070                  English springer
1049                  English springer
1079                  English springer
1927                  English springer
1537                       EntleBucher
2056                        Eskimo dog
1502                        Eskimo dog
1251                        Eskimo dog
1560                        Eskimo dog
1074                        Eskimo dog
1504                        Eskimo dog
1160                        Eskimo dog
2067                        Eskimo dog
1682                        Eskimo dog
1301                        Eskimo dog
447                         Eskimo dog
1836                        Eskimo dog
1775                        Eskimo dog
1596                        Eskimo dog
1655                        Eskimo dog
656                         Eskimo dog
812                         Eskimo dog
669                         Eskimo dog
1028                        Eskimo dog
1006                        Eskimo dog
181                         Eskimo dog
721                         Eskimo dog
1479                        Eskimo dog
1051                        Eskimo dog
641                         Eskimo dog
1095                        Eskimo dog
2049                        Eskimo dog
242                 European gallinule
746                     French bulldog
997                     French bulldog
1811                    French bulldog
229                     French bulldog
1520                    French bulldog
611                     French bulldog
1206                    French bulldog
2037                    French bulldog
1662                    French bulldog
830                     French bulldog
813                     French bulldog
923                     French bulldog
1992                    French bulldog
1205                    French bulldog
79                      French bulldog
523                     French bulldog
712                     French bulldog
1706                    French bulldog
893                     French bulldog
1475                    French bulldog
1068                    French bulldog
259                     French bulldog
1970                    French bulldog
1164                    French bulldog
184                     French bulldog
1988                    French bulldog
1700                    French bulldog
1556                    French bulldog
786                     French bulldog
1361                    French bulldog
1320                    French bulldog
1951                    French bulldog
319                     French bulldog
456                     French bulldog
1955                    French bulldog
176                     French bulldog
330                     French bulldog
139                     French bulldog
333                     French bulldog
338                     French bulldog
341                     French bulldog
1631                   German shepherd
14                     German shepherd
1021                   German shepherd
643                    German shepherd
1296                   German shepherd
1374                   German shepherd
688                    German shepherd
1748                   German shepherd
1474                   German shepherd
1628                   German shepherd
799                    German shepherd
759                    German shepherd
1719                   German shepherd
898                    German shepherd
1000       German short-haired pointer
1085       German short-haired pointer
185        German short-haired pointer
1289       German short-haired pointer
686        German short-haired pointer
1806       German short-haired pointer
271        German short-haired pointer
990                       Gila monster
1683                        Great Dane
1219                        Great Dane
740                         Great Dane
1123                        Great Dane
1534                        Great Dane
1800                        Great Dane
472                         Great Dane
524                         Great Dane
298                     Great Pyrenees
913                     Great Pyrenees
354                     Great Pyrenees
1977                    Great Pyrenees
2047                    Great Pyrenees
1969                    Great Pyrenees
607                     Great Pyrenees
782                     Great Pyrenees
1115                    Great Pyrenees
283                     Great Pyrenees
978                     Great Pyrenees
1042                    Great Pyrenees
1816                    Great Pyrenees
1132                    Great Pyrenees
1105        Greater Swiss Mountain dog
605         Greater Swiss Mountain dog
1412        Greater Swiss Mountain dog
1885        Greater Swiss Mountain dog
939         Greater Swiss Mountain dog
871         Greater Swiss Mountain dog
160                       Ibizan hound
1888                      Ibizan hound
729                       Ibizan hound
265                       Ibizan hound
1802                      Ibizan hound
1674                      Ibizan hound
1034                      Ibizan hound
1364                   Indian elephant
1033                   Indian elephant
2022                   Indian elephant
1424                      Irish setter
1933                      Irish setter
178                       Irish setter
900                       Irish setter
1639                      Irish setter
2066                      Irish setter
165                       Irish setter
1702                      Irish setter
186                       Irish setter
1546                      Irish setter
68                        Irish setter
33                       Irish terrier
80                       Irish terrier
1319                     Irish terrier
1883                     Irish terrier
800                      Irish terrier
1554                     Irish terrier
885                      Irish terrier
678                      Irish terrier
1252                     Irish terrier
156                      Irish terrier
1465                     Irish terrier
1121                     Irish terrier
1624                     Irish terrier
2069                     Irish terrier
952                      Irish terrier
1948                     Irish terrier
2001                     Irish terrier
589                    Irish wolfhound
315                    Irish wolfhound
724                    Irish wolfhound
2004                 Italian greyhound
384                  Italian greyhound
975                  Italian greyhound
1062                 Italian greyhound
511                  Italian greyhound
173                  Italian greyhound
1483                 Italian greyhound
1400                 Italian greyhound
982                  Italian greyhound
58                   Italian greyhound
905                  Italian greyhound
1306                 Italian greyhound
1968                 Italian greyhound
987                  Italian greyhound
661                  Italian greyhound
155                  Italian greyhound
1008                 Italian greyhound
1076                 Italian greyhound
1920                 Italian greyhound
959                  Italian greyhound
153                  Italian greyhound
554                  Italian greyhound
545                   Japanese spaniel
425                 Kerry blue terrier
1056                Labrador retriever
713                 Labrador retriever
1578                Labrador retriever
1709                Labrador retriever
72                  Labrador retriever
1668                Labrador retriever
642                 Labrador retriever
1562                Labrador retriever
644                 Labrador retriever
1236                Labrador retriever
1065                Labrador retriever
2031                Labrador retriever
37                  Labrador retriever
1657                Labrador retriever
1684                Labrador retriever
1381                Labrador retriever
626                 Labrador retriever
2057                Labrador retriever

In [402]:
twimg_cleaned['p3'].sort_values()

134                       Afghan hound
850                       Afghan hound
590                       Afghan hound
355                       Afghan hound
107                  African chameleon
100                       African grey
766                           Airedale
635                           Airedale
1624                          Airedale
583                           Airedale
368                           Airedale
1754                          Airedale
344                           Airedale
1554                          Airedale
800                           Airedale
657                           Airedale
1435                          Airedale
507     American Staffordshire terrier
1338    American Staffordshire terrier
1427    American Staffordshire terrier
1643    American Staffordshire terrier
624     American Staffordshire terrier
549     American Staffordshire terrier
562     American Staffordshire terrier
873     American Staffordshire terrier
1687    American Staffordshire terrier
2011    American Staffordshire terrier
1380    American Staffordshire terrier
250     American Staffordshire terrier
1968    American Staffordshire terrier
574     American Staffordshire terrier
923     American Staffordshire terrier
135     American Staffordshire terrier
1778    American Staffordshire terrier
987     American Staffordshire terrier
1185    American Staffordshire terrier
1828    American Staffordshire terrier
748     American Staffordshire terrier
695     American Staffordshire terrier
1788    American Staffordshire terrier
1467    American Staffordshire terrier
1099               American black bear
907                             Angora
145                             Angora
968                        Appenzeller
291                        Appenzeller
1885                       Appenzeller
1537                       Appenzeller
388                        Appenzeller
1208                       Appenzeller
605                        Appenzeller
2009                       Appenzeller
1799                       Appenzeller
980                        Appenzeller
350                        Appenzeller
753                      Arabian camel
798                      Arabian camel
366                      Arabian camel
1524                        Arctic fox
317                         Arctic fox
945                         Arctic fox
1746                        Arctic fox
1738                        Arctic fox
917                 Australian terrier
1581                Australian terrier
728                 Australian terrier
90                  Australian terrier
1547                Australian terrier
1498                Australian terrier
1014                Australian terrier
1597                Australian terrier
115                           Band Aid
2043              Bernese mountain dog
1335              Bernese mountain dog
160                   Blenheim spaniel
1269                  Blenheim spaniel
662                      Border collie
845                      Border collie
1482                     Border collie
1462                     Border collie
1226                     Border collie
1420                     Border collie
1588                     Border collie
802                      Border collie
267                      Border collie
757                      Border collie
1913                     Border collie
1631                    Border terrier
891                     Border terrier
328                     Border terrier
1325                    Border terrier
1384                    Border terrier
1654                    Border terrier
1556                       Boston bull
2045                       Boston bull
146                        Boston bull
1849                       Boston bull
374                        Boston bull
1822                       Boston bull
996                        Boston bull
1809                       Boston bull
690                        Boston bull
1706                       Boston bull
830                        Boston bull
611                        Boston bull
259                        Boston bull
1004                       Boston bull
1763                       Boston bull
1062                       Boston bull
514                        Boston bull
1795              Bouvier des Flandres
1942              Bouvier des Flandres
1277                 Brabancon griffon
786                  Brabancon griffon
396                  Brabancon griffon
1431                 Brabancon griffon
57                   Brabancon griffon
103                  Brabancon griffon
2037                 Brabancon griffon
1297                  Brittany spaniel
1525                  Brittany spaniel
744                   Brittany spaniel
665                   Brittany spaniel
1189                  Brittany spaniel
214                   Brittany spaniel
1385                  Brittany spaniel
699                   Brittany spaniel
480                   Brittany spaniel
943                   Brittany spaniel
928                   Brittany spaniel
1167                          Cardigan
600                           Cardigan
1920                          Cardigan
159                           Cardigan
464                           Cardigan
2014                          Cardigan
937                           Cardigan
994                           Cardigan
1675                          Cardigan
931                           Cardigan
1629                          Cardigan
720                           Cardigan
1825                          Cardigan
503                           Cardigan
1237                          Cardigan
1323                          Cardigan
239                           Cardigan
2028                          Cardigan
1971                          Cardigan
1060                          Cardigan
129                           Cardigan
430                           Cardigan
261                           Cardigan
985           Chesapeake Bay retriever
686           Chesapeake Bay retriever
1387          Chesapeake Bay retriever
469           Chesapeake Bay retriever
1487          Chesapeake Bay retriever
1184          Chesapeake Bay retriever
1395          Chesapeake Bay retriever
1178          Chesapeake Bay retriever
185           Chesapeake Bay retriever
1204          Chesapeake Bay retriever
1121          Chesapeake Bay retriever
1118          Chesapeake Bay retriever
1637          Chesapeake Bay retriever
2066          Chesapeake Bay retriever
1985          Chesapeake Bay retriever
1733          Chesapeake Bay retriever
1562          Chesapeake Bay retriever
1990          Chesapeake Bay retriever
378           Chesapeake Bay retriever
1702          Chesapeake Bay retriever
1903          Chesapeake Bay retriever
87            Chesapeake Bay retriever
1041          Chesapeake Bay retriever
1085          Chesapeake Bay retriever
68            Chesapeake Bay retriever
1785          Chesapeake Bay retriever
121           Chesapeake Bay retriever
545                          Chihuahua
895                          Chihuahua
544                          Chihuahua
2020                         Chihuahua
842                          Chihuahua
1986                         Chihuahua
1017                         Chihuahua
629                          Chihuahua
585                          Chihuahua
91                           Chihuahua
1973                         Chihuahua
1296                         Chihuahua
834                          Chihuahua
1246                         Chihuahua
213                          Chihuahua
1043                         Chihuahua
43                           Chihuahua
1249                         Chihuahua
295                          Chihuahua
570                          Chihuahua
249                          Chihuahua
1776                         Chihuahua
1468                         Chihuahua
988                          Chihuahua
1176                         Chihuahua
1871                         Chihuahua
1922                         Chihuahua
1495                         Chihuahua
523                          Chihuahua
1124                         Chihuahua
747                          Chihuahua
1149                         Chihuahua
773                          Chihuahua
1915                         Chihuahua
776                          Chihuahua
432                          Chihuahua
1136                         Chihuahua
449                          Chihuahua
2065                         Chihuahua
1893                         Chihuahua
138                          Chihuahua
169                          Chihuahua
909                          Chihuahua
2036                         Chihuahua
30                           Chihuahua
413                          Chihuahua
104                          Chihuahua
483                          Chihuahua
944                          Chihuahua
813                          Chihuahua
1182                         Chihuahua
176                          Chihuahua
110                          Chihuahua
1863                         Chihuahua
1607                         Chihuahua
1865                         Chihuahua
1555                         Chihuahua
1523                         Chihuahua
73                  Christmas stocking
1606                Christmas stocking
902                     Dandie Dinmont
1030                    Dandie Dinmont
2047                    Dandie Dinmont
15                      Dandie Dinmont
1720                          Doberman
1365                          Doberman
767                           Doberman
1542                          Doberman
4                             Doberman
862                           Doberman
208                           Doberman
2012                      Egyptian cat
253                       Egyptian cat
1311                  English foxhound
1306                  English foxhound
1909                  English foxhound
211                   English foxhound
1163                  English foxhound
1289                  English foxhound
2057                    English setter
1261                    English setter
1792                    English setter
614                     English setter
1645                    English setter
1520                    English setter
1262                    English setter
137                     English setter
1007                    English setter
1759                    English setter
1114                    English setter
1610                    English setter
1418                  English springer
616                   English springer
1651                  English springer
1478                  English springer
933                   English springer
1736                  English springer
1557                  English springer
1379                       EntleBucher
1904                       EntleBucher
1412                       EntleBucher
801                        EntleBucher
707                        EntleBucher
1976                       EntleBucher
1128                        Eskimo dog
1656                        Eskimo dog
1529                        Eskimo dog
1417                        Eskimo dog
415                         Eskimo dog
1092                        Eskimo dog
861                         Eskimo dog
1889                        Eskimo dog
711                         Eskimo dog
1635                        Eskimo dog
783                         Eskimo dog
1214                        Eskimo dog
1098                        Eskimo dog
1632                        Eskimo dog
1299                        Eskimo dog
2040                        Eskimo dog
24                          Eskimo dog
105                         Eskimo dog
1598                        Eskimo dog
815                         Eskimo dog
71                          Eskimo dog
1925                        Eskimo dog
1489                        Eskimo dog
131                         Eskimo dog
1858                        Eskimo dog
111                         Eskimo dog
810                         Eskimo dog
540                         Eskimo dog
829                         Eskimo dog
382                         Eskimo dog
1034                        Eskimo dog
681                         Eskimo dog
218                         Eskimo dog
892                         Eskimo dog
1071                        Eskimo dog
1705                        Eskimo dog
1680                        Eskimo dog
1080                        Eskimo dog
421           European fire salamander
742                     French bulldog
1476                    French bulldog
598                     French bulldog
1445                    French bulldog
367                     French bulldog
1901                    French bulldog
1797                    French bulldog
1209                    French bulldog
171                     French bulldog
500                     French bulldog
547                     French bulldog
370                     French bulldog
668                     French bulldog
1898                    French bulldog
977                     French bulldog
1066                    French bulldog
519                     French bulldog
1116                    French bulldog
1667                    French bulldog
41                      French bulldog
522                     French bulldog
1281                    French bulldog
1943                    French bulldog
601                     French bulldog
13                      French bulldog
308                     French bulldog
123                        French horn
487                        French loaf
1592                       French loaf
677                    German shepherd
672                    German shepherd
1948                   German shepherd
1131                   German shepherd
1245                   German shepherd
543                    German shepherd
1333                   German shepherd
1053                   German shepherd
1026                   German shepherd
264                    German shepherd
1339                   German shepherd
1144                   German shepherd
1700                   German shepherd
587                    German shepherd
1363                   German shepherd
2070       German short-haired pointer
1219       German short-haired pointer
468        German short-haired pointer
1989       German short-haired pointer
676        German short-haired pointer
735        German short-haired pointer
871        German short-haired pointer
831        German short-haired pointer
803                      Gordon setter
730                      Gordon setter
1827                     Gordon setter
306                      Gordon setter
101                         Great Dane
505                         Great Dane
908                         Great Dane
1218                        Great Dane
1664                        Great Dane
1047                        Great Dane
658                         Great Dane
1111                        Great Dane
898                         Great Dane
792                     Great Pyrenees
638                     Great Pyrenees
1510                    Great Pyrenees
1181                    Great Pyrenees
1472                    Great Pyrenees
1216                    Great Pyrenees
536                     Great Pyrenees
693                     Great Pyrenees
561                     Great Pyrenees
1251                    Great Pyrenees
571                     Great Pyrenees
1054                    Great Pyrenees
853                     Great Pyrenees
1318                    Great Pyrenees
1316                    Great Pyrenees
984                     Great Pyrenees
621                     Great Pyrenees
964                     Great Pyrenees
1866                    Great Pyrenees
1997                    Great Pyrenees
1623                    Great Pyrenees
1644                    Great Pyrenees
1568                    Great Pyrenees
349                     Great Pyrenees
1867                    Great Pyrenees
37                      Great Pyrenees
380                     Great Pyrenees
451         Greater Swiss Mountain dog
724         Greater Swiss Mountain dog
5           Greater Swiss Mountain dog
2000        Greater Swiss Mountain dog
859         Greater Swiss Mountain dog
2010                      Ibizan hound
389                       Ibizan hound
1238                      Ibizan hound
46                        Ibizan hound
1059                      Ibizan hound
12                        Ibizan hound
1439                      Ibizan hound
2069                   Indian elephant
1732                      Irish setter
1050                      Irish setter
1753                      Irish setter
489                       Irish setter
1503                      Irish setter
1627                      Irish setter
579                       Irish setter
1737                      Irish setter
240                      Irish terrier
294                      Irish terrier
1625                     Irish terrier
1108                     Irish terrier
1646                     Irish terrier
1744                     Irish terrier
351                      Irish terrier
1823                     Irish terrier
509                      Irish terrier
2006                     Irish terrier
1392                     Irish terrier
1267               Irish water spaniel
1707               Irish water spaniel
548                Irish water spaniel
64                 Irish water spaniel
1044                   Irish wolfhound
479                    Irish wolfhound
936                  Italian greyhound
1802                 Italian greyhound
1239                 Italian greyhound
1422                 Italian greyhound
1096                 Italian greyhound
336                  Italian greyhound
1674                 Italian greyhound
762                  Italian greyhound
1724                 Italian greyhound
1308                 Italian greyhound
319                  Italian greyhound
1019                  Japanese spaniel
1918                  Japanese spaniel
274                   Japanese spaniel
148                   Japanese spaniel
1565                Kerry blue terrier
198                 Labrador retriever
200                 Labrador retriever
703                 Labrador retriever
1819                Labrador retriever
1817                Labrador retriever
516                 Labrador retriever
406                 Labrador retriever
1640                Labrador retriever
1678                Labrador retriever
1360                Labrador retriever
1348                Labrador retriever
282                 Labrador retriever
1399                Labrador retriever
1727                Labrador retriever
1729                Labrador retriever
1324                Labrador retriever
1321                Labrador retriever
1663                Labrador retriever
1658                Labrador retriever
1750                Labrador retriever
1212                Labrador retriever
238                 Labrador retriever
1275                Labrador retriever
1769                Labrador retriever
530                 Labrador retriever
1770                Labrador retriever
670                 Labrador retriever
1794                Labrador retriever
1649                Labrador retriever
405                 Labrador retriever
333                 Labrador retriever
1247                Labrador retriever
1278                Labrador retriever
1878                Labrador retriever
567                 Labrador retriever
1006                Labrador retriever
1933                Labrador retriever
1013                Labrador retriever
1094                Labrador retriever
97                  Labrador retriever
1205                Labrador retriever
1088                Labrador retriever
88                  Labrador retriever

**x) Define**

Corrects the rows with dog breed names that are in lowercase.

**x) Code**

In [403]:
#changes the first letter to capital letter
twimg_cleaned['p1'] = twimg_cleaned['p1'].str.title()
twimg_cleaned['p2'] = twimg_cleaned['p2'].str.title()
twimg_cleaned['p3'] = twimg_cleaned['p3'].str.title()

**x) Test**

In [404]:
#returns counts of unique values for "p1" column
twimg_cleaned['p1'].sort_values()

1722                      Acorn Squash
439                       Acorn Squash
1804                      Afghan Hound
1561                      Afghan Hound
1458                      Afghan Hound
1855                      Afghan Hound
446                  African Crocodile
1371                      African Grey
289                African Hunting Dog
990                              Agama
603                           Airedale
952                           Airedale
582                           Airedale
1465                          Airedale
378                           Airedale
678                           Airedale
189                           Airedale
49                            Airedale
425                           Airedale
1646                          Airedale
1319                          Airedale
1883                          Airedale
1097                               Alp
1284               American Black Bear
1146    American Staffordshire Terrier
909     American Staffordshire Terrier
139     American Staffordshire Terrier
1724    American Staffordshire Terrier
1776    American Staffordshire Terrier
1837    American Staffordshire Terrier
1582    American Staffordshire Terrier
767     American Staffordshire Terrier
758     American Staffordshire Terrier
1586    American Staffordshire Terrier
550     American Staffordshire Terrier
1773    American Staffordshire Terrier
269     American Staffordshire Terrier
1932                            Angora
117                             Angora
859                        Appenzeller
2068                       Appenzeller
1944                     Arabian Camel
1638                     Arabian Camel
168                      Arabian Camel
133                         Arctic Fox
243                         Arctic Fox
118                         Arctic Fox
393                         Arctic Fox
838                 Australian Terrier
1948                Australian Terrier
1357                           Axolotl
244                            Axolotl
1083                            Badger
784                             Badger
1551                            Bakery
664                         Bald Eagle
1207                           Balloon
1353                           Balloon
1307                           Balloon
247                             Banana
754                          Bannister
1906                           Barbell
1342                            Barrow
797                             Barrow
1904                            Barrow
1229                            Barrow
136                            Basenji
265                            Basenji
959                            Basenji
1400                           Basenji
279                            Basenji
1246                           Basenji
848                            Basenji
1984                        Basketball
1947                            Basset
164                             Basset
1428                            Basset
1559                            Basset
2005                            Basset
2009                            Basset
2053                            Basset
2016                            Basset
187                             Basset
2070                            Basset
268                             Basset
498                             Basset
552                             Basset
1185                        Bath Towel
791                         Bath Towel
1817                        Bath Towel
493                         Bath Towel
1664                        Bath Towel
866                         Bath Towel
908                         Bath Towel
1745                           Bathtub
986                            Bathtub
1723                           Bathtub
1416                           Bathtub
1521                       Beach Wagon
663                             Beagle
1311                            Beagle
1589                            Beagle
1674                            Beagle
211                             Beagle
547                             Beagle
1391                            Beagle
497                             Beagle
906                             Beagle
262                             Beagle
1660                            Beagle
153                             Beagle
85                              Beagle
1442                            Beagle
336                             Beagle
1159                            Beagle
1383                            Beagle
392                             Beagle
140                           Bearskin
840                             Beaver
1181                Bedlington Terrier
1777                Bedlington Terrier
1938                Bedlington Terrier
1888                Bedlington Terrier
1298                Bedlington Terrier
324                          Bee Eater
5                 Bernese Mountain Dog
451               Bernese Mountain Dog
707               Bernese Mountain Dog
980               Bernese Mountain Dog
2000              Bernese Mountain Dog
1412              Bernese Mountain Dog
1537              Bernese Mountain Dog
1379              Bernese Mountain Dog
1885              Bernese Mountain Dog
801               Bernese Mountain Dog
1016                               Bib
790                            Bighorn
1244                        Binoculars
1839                         Birdhouse
647                          Birdhouse
811                              Bison
28             Black-And-Tan Coonhound
1914           Black-And-Tan Coonhound
535                Black-Footed Ferret
1359                  Blenheim Spaniel
1430                  Blenheim Spaniel
214                   Blenheim Spaniel
545                   Blenheim Spaniel
979                   Blenheim Spaniel
120                   Blenheim Spaniel
2043                  Blenheim Spaniel
1189                  Blenheim Spaniel
31                    Blenheim Spaniel
1918                  Blenheim Spaniel
1964                  Blenheim Spaniel
927                         Bloodhound
803                         Bloodhound
14                          Bloodhound
601                         Bloodhound
1800                        Bloodhound
1907                        Bloodhound
2002                        Bloodhound
1305                          Bluetick
1331                          Bluetick
614                           Bluetick
685                           Bluetick
217                          Boathouse
1124                            Bonnet
526                        Book Jacket
1622                          Bookcase
1335                          Bookshop
1690                     Border Collie
1966                     Border Collie
1825                     Border Collie
348                      Border Collie
1600                     Border Collie
933                      Border Collie
916                      Border Collie
705                      Border Collie
1112                     Border Collie
1282                     Border Collie
1128                     Border Collie
39                       Border Collie
1845                    Border Terrier
1754                    Border Terrier
1822                    Border Terrier
899                     Border Terrier
966                     Border Terrier
1788                    Border Terrier
1719                    Border Terrier
479                             Borzoi
1255                            Borzoi
1261                            Borzoi
1830                            Borzoi
1007                            Borzoi
853                             Borzoi
737                             Borzoi
798                             Borzoi
82                              Borzoi
1406                       Boston Bull
842                        Boston Bull
923                        Boston Bull
1922                       Boston Bull
712                        Boston Bull
1237                       Boston Bull
523                        Boston Bull
742                        Boston Bull
1461                       Boston Bull
470                                Bow
1195                           Bow Tie
1270                           Bow Tie
841                            Bow Tie
233                            Bow Tie
484                         Box Turtle
6                           Box Turtle
1116                             Boxer
465                              Boxer
1111                             Boxer
598                              Boxer
1811                             Boxer
939                              Boxer
837                              Boxer
668                              Boxer
1783                             Boxer
877                              Boxer
440                  Brabancon Griffon
410                  Brabancon Griffon
188                  Brabancon Griffon
854                             Briard
1795                            Briard
1488                            Briard
1854                  Brittany Spaniel
881                   Brittany Spaniel
616                   Brittany Spaniel
1079                  Brittany Spaniel
1049                  Brittany Spaniel
160                   Brittany Spaniel
1059                  Brittany Spaniel
263                         Brown Bear
1364                        Brown Bear
436                         Brown Bear
1033                        Brown Bear
513                             Bubble
618                             Bubble
396                       Bull Mastiff
507                       Bull Mastiff
1667                      Bull Mastiff
1955                      Bull Mastiff
1220                      Bull Mastiff
142                            Bustard
775                            Bustard
891                              Cairn
225                              Cairn
1749                             Cairn
195                             Candle
126                              Canoe
855                         Car Mirror
205                         Car Mirror
738                         Car Mirror
1078                        Car Mirror
371                         Car Mirror
1899                        Car Mirror
1812                          Cardigan
432                           Cardigan
1583                          Cardigan
1721                          Cardigan
1577                          Cardigan
995                           Cardigan
1943                          Cardigan
423                           Cardigan
1495                          Cardigan
1636                          Cardigan
1809                          Cardigan
1494                          Cardigan
760                           Cardigan
1208                          Cardigan
1939                          Cardigan
1901                          Cardigan
1884                          Cardigan
1993                          Cardigan
1245                          Cardigan
632                           Carousel
335                             Carton
1333                      Cash Machine
587                       Cash Machine
733                       Cheeseburger
687                            Cheetah
401           Chesapeake Bay Retriever
1340          Chesapeake Bay Retriever
1337          Chesapeake Bay Retriever
1493          Chesapeake Bay Retriever
360           Chesapeake Bay Retriever
2069          Chesapeake Bay Retriever
1480          Chesapeake Bay Retriever
1341          Chesapeake Bay Retriever
1267          Chesapeake Bay Retriever
534           Chesapeake Bay Retriever
34            Chesapeake Bay Retriever
1531          Chesapeake Bay Retriever
1958          Chesapeake Bay Retriever
154           Chesapeake Bay Retriever
1193          Chesapeake Bay Retriever
717           Chesapeake Bay Retriever
1850          Chesapeake Bay Retriever
55            Chesapeake Bay Retriever
1203          Chesapeake Bay Retriever
2007          Chesapeake Bay Retriever
874           Chesapeake Bay Retriever
532           Chesapeake Bay Retriever
1247          Chesapeake Bay Retriever
1615                         Chihuahua
1641                         Chihuahua
343                          Chihuahua
363                          Chihuahua
407                          Chihuahua
1857                         Chihuahua
339                          Chihuahua
367                          Chihuahua
804                          Chihuahua
1864                         Chihuahua
690                          Chihuahua
768                          Chihuahua
697                          Chihuahua
696                          Chihuahua
384                          Chihuahua
918                          Chihuahua
175                          Chihuahua
125                          Chihuahua
1101                         Chihuahua
1453                         Chihuahua
1454                         Chihuahua
1081                         Chihuahua
602                          Chihuahua
595                          Chihuahua
144                          Chihuahua
1061                         Chihuahua
1797                         Chihuahua
1469                         Chihuahua
2073                         Chihuahua
173                          Chihuahua
456                          Chihuahua
1062                         Chihuahua
1894                         Chihuahua
119                          Chihuahua
482                          Chihuahua
2072                         Chihuahua
511                          Chihuahua
527                          Chihuahua
529                          Chihuahua
27                           Chihuahua
35                           Chihuahua
1422                         Chihuahua
57                           Chihuahua
2048                         Chihuahua
1202                         Chihuahua
554                          Chihuahua
83                           Chihuahua
2018                         Chihuahua
564                          Chihuahua
58                           Chihuahua
622                          Chihuahua
998                          Chihuahua
184                          Chihuahua
319                          Chihuahua
1593                         Chihuahua
1815                         Chihuahua
1916                         Chihuahua
292                          Chihuahua
1920                         Chihuahua
1692                         Chihuahua
860                          Chihuahua
886                          Chihuahua
901                          Chihuahua
915                          Chihuahua
259                          Chihuahua
649                          Chihuahua
1528                         Chihuahua
1015                         Chihuahua
946                          Chihuahua
1518                         Chihuahua
1697                         Chihuahua
234                          Chihuahua
955                          Chihuahua
956                          Chihuahua
1008                         Chihuahua
192                          Chihuahua
222                          Chihuahua
437                          Chihuahua
975                          Chihuahua
1972                         Chihuahua
982                          Chihuahua
1713                         Chihuahua
1497                         Chihuahua
321                         Chimpanzee
1936                        Chimpanzee
323                      China Cabinet
441                               Chow
491                               Chow
475                               Chow
688                               Chow
1841                              Chow
520                               Chow
1411                              Chow
1503                              Chow
1601                              Chow
1401                              Chow
1591                              Chow
1156                              Chow
711                               Chow
970                               Chow
327                               Chow
1576                              Chow
1117                              Chow
1441                              Chow
122                               Chow
1532                              Chow
124                               Chow
236                               Chow
1945                              Chow
1455                              Chow
1445                              Chow
1498                              Chow
1294                              Chow
1014                              Chow
1859                              Chow
375                               Chow
1635                              Chow
7                                 Chow
1310                              Chow
1627                              Chow
1304                              Chow
1523                              Chow
1620                              Chow
1875                              Chow
1233                              Chow
1372                              Chow
2038                              Chow
2032                              Chow
1394                              Chow
1183                              Chow
615                 Christmas Stocking
201                 Christmas Stocking
617                 Christmas Stocking
1173                             Cliff
701                               Clog
1459                           Clumber
1741                    Cocker Spaniel
1129                    Cocker Spaniel
1793                    Cocker Spaniel
1457                    Cocker Spaniel
1168                    Cocker Spaniel
489                     Cocker Spaniel
1987                    Cocker Spaniel
1182                    Cocker Spaniel
162                     Cocker Spaniel
1995                    Cocker Spaniel
1468                    Cocker Spaniel
1645                    Cocker Spaniel
822                     Cocker Spaniel
1546                    Cocker Spaniel
1540                    Cocker Spaniel
671                     Cocker Spaniel
1526                    Cocker Spaniel
334                     Cocker Spaniel
346                     Cocker Spaniel
1581                    Cocker Spaniel
1610                    Cocker Spaniel
1678                    Cocker Spaniel
976                     Cocker Spaniel
1619                    Cocker Spaniel
190                     Cocker Spaniel
1012                    Cocker Spaniel
1608                    Cocker Spaniel
766                     Cocker Spaniel
1708                    Cocker Spaniel
1569                    Cocker Spaniel
1887                        Coffee Mug
29                                Coho
1242                              Coil
416                             Collie
777                             Collie
1584                            Collie
1462                            Collie
1132                            Collie
1055                            Collie
1771                            Collie
953                             Collie
961                             Collie
1418                            Collie
1037                        Comic Book
174                         Comic Book
1975                        Comic Book
107                      Common Iguana
151                      Common Iguana
542                      Common Iguana
1320                             Conch
2046                       Convertible
1396                        Coral Reef
1361                            Cougar
1747                       Cowboy Boot
555                         Cowboy Hat
1020                        Cowboy Hat
780                         Cowboy Hat
763                              Crane
143                       Crash Helmet
182                            Cuirass
1171                               Cup
658             Curly-Coated Retriever
1707            Curly-Coated Retriever
36              Curly-Coated Retriever
1219                         Dalmatian
561                          Dalmatian

In [405]:
#returns counts of unique values for "p2" column
twimg_cleaned['p2'].sort_values()

1833                     Academic Gown
277                          Accordion
769                      Affenpinscher
460                       Afghan Hound
1701                      Afghan Hound
26                        Afghan Hound
1290                      Afghan Hound
2024                      Afghan Hound
53                 African Hunting Dog
1730                          Airedale
1950                          Airedale
716                           Airedale
983                           Airedale
548                           Airedale
340                           Airedale
1493                          Airedale
434                 American Alligator
446                 American Alligator
258                American Black Bear
332                American Black Bear
1891               American Black Bear
1218    American Staffordshire Terrier
1849    American Staffordshire Terrier
1824    American Staffordshire Terrier
992     American Staffordshire Terrier
1152    American Staffordshire Terrier
1881    American Staffordshire Terrier
1882    American Staffordshire Terrier
875     American Staffordshire Terrier
963     American Staffordshire Terrier
401     American Staffordshire Terrier
1654    American Staffordshire Terrier
1903    American Staffordshire Terrier
216     American Staffordshire Terrier
2039    American Staffordshire Terrier
689     American Staffordshire Terrier
1613    American Staffordshire Terrier
1406    American Staffordshire Terrier
1785    American Staffordshire Terrier
1768    American Staffordshire Terrier
1632    American Staffordshire Terrier
768     American Staffordshire Terrier
743                             Angora
556                             Angora
2023                            Angora
1199                            Angora
1976                       Appenzeller
707                        Appenzeller
1379                       Appenzeller
609                              Apron
1140                     Arabian Camel
1032                     Arabian Camel
687                      Arabian Camel
342                      Arabian Camel
454                         Arctic Fox
816                         Arctic Fox
851                         Arctic Fox
398                         Arctic Fox
50                           Armadillo
403                             Ashcan
770                      Assault Rifle
579                 Australian Terrier
147                 Australian Terrier
1106                            Badger
339                             Badger
422                             Badger
926                             Badger
2074                             Bagel
487                             Bakery
1592                            Bakery
889                       Banded Gecko
586                          Bannister
1244                        Barbershop
29                          Barracouta
530                             Barrel
1630                            Barrel
239                            Basenji
1047                           Basenji
1439                           Basenji
937                            Basenji
996                            Basenji
1721                           Basenji
1548                        Basketball
444                             Basset
1385                            Basset
336                             Basset
371                             Basset
1458                            Basset
995                             Basset
1151                            Basset
1391                            Basset
876                             Basset
1311                            Basset
1229                            Basset
129                             Basset
392                             Basset
497                             Basset
262                             Basset
302                         Bath Towel
73                          Bath Towel
77                          Bath Towel
1570                        Bath Towel
1445                        Bath Towel
104                         Bath Towel
1343                       Bathing Cap
1533                           Bathtub
623                            Bathtub
296                            Bathtub
376                            Bathtub
1538                           Bathtub
1312                           Bathtub
245                        Beach Wagon
1611                       Beach Wagon
1910                       Beach Wagon
1616                            Beagle
1163                            Beagle
1059                            Beagle
1191                            Beagle
583                             Beagle
397                             Beagle
588                             Beagle
1239                            Beagle
187                             Beagle
1386                            Beagle
1531                            Beagle
214                             Beagle
278                             Beagle
498                             Beagle
1331                            Beagle
1423                            Beagle
264                             Beagle
859                             Beagle
363                             Beagle
539                             Beagle
1061                            Beagle
279                             Beagle
1714                            Beagle
40                              Beagle
35                              Beagle
2016                            Beagle
1947                            Beagle
1926                            Beagle
424                           Bearskin
1156                            Beaver
372                             Beaver
1565                Bedlington Terrier
134                 Bedlington Terrier
1347                Bedlington Terrier
1054                Bedlington Terrier
571                 Bedlington Terrier
1904              Bernese Mountain Dog
174                                Bib
96                             Bighorn
366                            Bighorn
1627                        Binoculars
1503                        Binoculars
217                          Birdhouse
168                              Bison
1818                             Bison
1605                       Black Widow
1448                       Black Widow
1726           Black-And-Tan Coonhound
1734           Black-And-Tan Coonhound
1099           Black-And-Tan Coonhound
1449           Black-And-Tan Coonhound
1994           Black-And-Tan Coonhound
313            Black-And-Tan Coonhound
1506           Black-And-Tan Coonhound
1704           Black-And-Tan Coonhound
306            Black-And-Tan Coonhound
1720           Black-And-Tan Coonhound
803            Black-And-Tan Coonhound
286            Black-And-Tan Coonhound
450                Black-Footed Ferret
694                Black-Footed Ferret
595                Black-Footed Ferret
190                   Blenheim Spaniel
757                   Blenheim Spaniel
1854                  Blenheim Spaniel
1182                  Blenheim Spaniel
1053                        Bloodhound
1649                        Bloodhound
28                          Bloodhound
981                         Bloodhound
381                         Bloodhound
1990                        Bloodhound
817                           Bluetick
1114                          Bluetick
831                           Bluetick
883                           Bluetick
1262                          Bluetick
1552                          Bluetick
1393                         Boathouse
365                            Bobsled
1771                     Border Collie
961                      Border Collie
1426                     Border Collie
1418                     Border Collie
74                       Border Collie
1150                     Border Collie
2068                     Border Collie
1693                     Border Collie
578                      Border Collie
801                      Border Collie
1208                     Border Collie
1584                     Border Collie
603                     Border Terrier
1120                    Border Terrier
1713                    Border Terrier
1827                    Border Terrier
200                             Borzoi
1275                            Borzoi
1090                            Borzoi
349                             Borzoi
518                             Borzoi
2059                            Borzoi
1804                            Borzoi
416                             Borzoi
1462                            Borzoi
213                             Borzoi
1561                            Borzoi
2014                       Boston Bull
598                        Boston Bull
1681                       Boston Bull
1671                       Boston Bull
879                        Boston Bull
1884                       Boston Bull
1083                       Boston Bull
522                        Boston Bull
500                        Boston Bull
674                        Boston Bull
1029                       Boston Bull
1583                       Boston Bull
873                        Boston Bull
1281                       Boston Bull
1961                       Boston Bull
1309                       Boston Bull
437                        Boston Bull
2008                       Boston Bull
1272                       Boston Bull
140                                Bow
1857                           Bow Tie
409                            Bow Tie
1687                             Boxer
428                              Boxer
1667                             Boxer
742                              Boxer
374                              Boxer
748                              Boxer
507                              Boxer
805                              Boxer
1467                             Boxer
863                              Boxer
113                              Boxer
2061                             Boxer
547                              Boxer
1476                 Brabancon Griffon
1209                 Brabancon Griffon
1845                 Brabancon Griffon
370                  Brabancon Griffon
1807                 Brabancon Griffon
1907                 Brabancon Griffon
413                  Brabancon Griffon
1401                 Brabancon Griffon
257                  Brabancon Griffon
1264                 Brabancon Griffon
1148                        Breakwater
182                        Breastplate
1345                            Briard
1981                            Briard
224                             Briard
719                             Briard
46                    Brittany Spaniel
469                   Brittany Spaniel
249                   Brittany Spaniel
1590                  Brittany Spaniel
389                   Brittany Spaniel
1637                  Brittany Spaniel
1793                  Brittany Spaniel
241                   Brittany Spaniel
378                         Brown Bear
1862                            Bucket
1898                      Bull Mastiff
966                       Bull Mastiff
668                       Bull Mastiff
837                       Bull Mastiff
1116                      Bull Mastiff
847                       Bull Mastiff
1111                      Bull Mastiff
13                        Bull Mastiff
308                       Bull Mastiff
826                       Bull Mastiff
726                       Bull Mastiff
1315                      Bull Mastiff
591                       Bull Mastiff
601                       Bull Mastiff
1725                               Cab
251                              Cairn
1496                             Cairn
285                              Cairn
1595                             Cairn
1839                        Can Opener
596                             Cannon
1367                             Canoe
679                           Cardigan
1752                          Cardigan
944                           Cardigan
1464                          Cardigan
1478                          Cardigan
1973                          Cardigan
916                           Cardigan
415                           Cardigan
1966                          Cardigan
1017                          Cardigan
1929                          Cardigan
1421                          Cardigan
1024                          Cardigan
1026                          Cardigan
1031                          Cardigan
1917                          Cardigan
1915                          Cardigan
233                           Cardigan
673                           Cardigan
1382                          Cardigan
1799                          Cardigan
362                           Cardigan
360                           Cardigan
223                           Cardigan
895                           Cardigan
1957                          Cardigan
1978                          Cardigan
1659                          Cardigan
1651                          Cardigan
2003                          Cardigan
127                           Cardigan
490                           Cardigan
756                           Cardigan
1612                          Cardigan
1607                          Cardigan
2065                          Cardigan
771                           Cardigan
478                           Cardigan
2062                          Cardigan
1974                          Cardigan
702                           Cardigan
1585                          Cardigan
172                           Cardigan
834                           Cardigan
461                           Cardigan
1986                          Cardigan
848                           Cardigan
179                           Cardigan
1543                          Cardigan
1535                          Cardigan
872                           Cardigan
1736                          Cardigan
1513                          Cardigan
473                           Cardigan
116                           Cardigan
1865                          Cardigan
2036                          Cardigan
1339                          Cardigan
1336                          Cardigan
1335                          Cardigan
570                           Cardigan
663                           Cardigan
89                            Cardigan
1861                          Cardigan
662                           Cardigan
1690                          Cardigan
1303                          Cardigan
1285                          Cardigan
1136                          Cardigan
1087                          Cardigan
1259                          Cardigan
1149                          Cardigan
1098                          Cardigan
1176                          Cardigan
1081                            Carton
1045                            Carton
1594                            Carton
1313                      Cash Machine
1370                      Cash Machine
1471                      Cash Machine
1143                        Chain Mail
51                           Chain Saw
34                           Chain Saw
1780          Chesapeake Bay Retriever
1782          Chesapeake Bay Retriever
1348          Chesapeake Bay Retriever
1826          Chesapeake Bay Retriever
1055          Chesapeake Bay Retriever
459           Chesapeake Bay Retriever
954           Chesapeake Bay Retriever
102           Chesapeake Bay Retriever
940           Chesapeake Bay Retriever
2025          Chesapeake Bay Retriever
1574          Chesapeake Bay Retriever
855           Chesapeake Bay Retriever
1327          Chesapeake Bay Retriever
1712          Chesapeake Bay Retriever
2029          Chesapeake Bay Retriever
584           Chesapeake Bay Retriever
287           Chesapeake Bay Retriever
735           Chesapeake Bay Retriever
1369          Chesapeake Bay Retriever
888           Chesapeake Bay Retriever
1484          Chesapeake Bay Retriever
928           Chesapeake Bay Retriever
238           Chesapeake Bay Retriever
1451          Chesapeake Bay Retriever
228           Chesapeake Bay Retriever
1778          Chesapeake Bay Retriever
1287          Chesapeake Bay Retriever
163           Chesapeake Bay Retriever
695           Chesapeake Bay Retriever
1868          Chesapeake Bay Retriever
1999          Chesapeake Bay Retriever
767           Chesapeake Bay Retriever
1989          Chesapeake Bay Retriever
1212          Chesapeake Bay Retriever
991           Chesapeake Bay Retriever
1398          Chesapeake Bay Retriever
67            Chesapeake Bay Retriever
824           Chesapeake Bay Retriever
1433          Chesapeake Bay Retriever
1288          Chesapeake Bay Retriever
23            Chesapeake Bay Retriever
322                          Chihuahua
281                          Chihuahua
624                          Chihuahua
167                          Chihuahua
762                          Chihuahua
514                          Chihuahua
2028                         Chihuahua
752                          Chihuahua
1563                         Chihuahua
845                          Chihuahua
1248                         Chihuahua
739                          Chihuahua
1586                         Chihuahua
1269                         Chihuahua
270                          Chihuahua
972                          Chihuahua
1442                         Chihuahua
1971                         Chihuahua
1425                         Chihuahua
994                          Chihuahua
1338                         Chihuahua
667                          Chihuahua
1803                         Chihuahua
410                          Chihuahua
383                          Chihuahua
1901                         Chihuahua
352                          Chihuahua
103                          Chihuahua
1912                         Chihuahua
59                           Chihuahua
1060                         Chihuahua
1103                         Chihuahua
600                          Chihuahua
1405                         Chihuahua
967                          Chihuahua
65                           Chihuahua
1743                         Chihuahua
2045                         Chihuahua
891                          Chihuahua
1747                         Chihuahua
41                           Chihuahua
202                          Chihuahua
1126                         Chihuahua
947                          Chihuahua
651                         Chimpanzee
1142                     China Cabinet
1069                              Chow
443                               Chow
499                               Chow
646                               Chow
32                                Chow
1621                              Chow
1161                              Chow
351                               Chow
1230                              Chow
922                               Chow
610                               Chow
1266                              Chow
1876                              Chow
677                               Chow
953                               Chow
467                               Chow
703                               Chow
1108                              Chow
852                               Chow
672                               Chow
866                 Christmas Stocking
391                 Christmas Stocking
83                  Christmas Stocking
1396                             Cliff
617                              Cloak
307                               Cock
17                                Cock
692                     Cocker Spaniel
635                     Cocker Spaniel
516                     Cocker Spaniel
567                     Cocker Spaniel
1189                    Cocker Spaniel
1324                    Cocker Spaniel
731                     Cocker Spaniel
1813                    Cocker Spaniel
1359                    Cocker Spaniel
1784                    Cocker Spaniel
1119                    Cocker Spaniel

In [406]:
#returns counts of unique values for "p3" column
twimg_cleaned['p3'].sort_values()

618                              Abaya
325                              Abaya
45                               Acorn
1235                     Affenpinscher
850                       Afghan Hound
590                       Afghan Hound
355                       Afghan Hound
134                       Afghan Hound
107                  African Chameleon
100                       African Grey
701                              Agama
242                              Agama
766                           Airedale
583                           Airedale
1554                          Airedale
635                           Airedale
1624                          Airedale
800                           Airedale
657                           Airedale
1435                          Airedale
368                           Airedale
1754                          Airedale
344                           Airedale
1099               American Black Bear
695     American Staffordshire Terrier
1185    American Staffordshire Terrier
987     American Staffordshire Terrier
748     American Staffordshire Terrier
1467    American Staffordshire Terrier
1380    American Staffordshire Terrier
923     American Staffordshire Terrier
135     American Staffordshire Terrier
1427    American Staffordshire Terrier
873     American Staffordshire Terrier
1643    American Staffordshire Terrier
1338    American Staffordshire Terrier
1687    American Staffordshire Terrier
1778    American Staffordshire Terrier
250     American Staffordshire Terrier
2011    American Staffordshire Terrier
1968    American Staffordshire Terrier
507     American Staffordshire Terrier
562     American Staffordshire Terrier
574     American Staffordshire Terrier
624     American Staffordshire Terrier
549     American Staffordshire Terrier
1788    American Staffordshire Terrier
1828    American Staffordshire Terrier
145                             Angora
907                             Angora
980                        Appenzeller
2009                       Appenzeller
968                        Appenzeller
350                        Appenzeller
388                        Appenzeller
1799                       Appenzeller
291                        Appenzeller
1537                       Appenzeller
1208                       Appenzeller
1885                       Appenzeller
605                        Appenzeller
798                      Arabian Camel
366                      Arabian Camel
753                      Arabian Camel
1524                        Arctic Fox
1738                        Arctic Fox
317                         Arctic Fox
1746                        Arctic Fox
945                         Arctic Fox
217                             Ashcan
599                             Ashcan
636                      Assault Rifle
1547                Australian Terrier
1014                Australian Terrier
917                 Australian Terrier
1597                Australian Terrier
1581                Australian Terrier
90                  Australian Terrier
1498                Australian Terrier
728                 Australian Terrier
640                            Axolotl
77                              Badger
130                             Badger
733                              Bagel
247                              Bagel
493                              Bagel
152                       Balance Beam
1244                        Ballplayer
2074                            Banana
115                           Band Aid
1138                         Bannister
1602                           Barbell
1946                      Barber Chair
1198                            Barrow
915                            Basenji
860                            Basenji
127                            Basenji
1861                           Basenji
1593                           Basenji
947                            Basenji
2003                           Basenji
1669                           Basenji
1672                           Basenji
1752                           Basenji
153                            Basenji
1543                           Basenji
172                            Basenji
1929                           Basenji
1285                           Basenji
2062                           Basenji
1027                           Basenji
1957                           Basenji
1031                           Basenji
1139                           Basenji
19                             Basenji
452                             Basset
1383                            Basset
817                             Basset
1386                            Basset
588                             Basset
1300                            Basset
663                             Basset
132                           Bassinet
353                           Bassinet
591                         Bath Towel
1315                        Bath Towel
1079                        Bath Towel
997                         Bath Towel
2015                        Bath Towel
301                        Bathing Cap
273                        Bathing Cap
2005                           Bathtub
163                            Bathtub
832                            Bathtub
1821                           Bathtub
1179                           Bathtub
1093                           Bathtub
797                            Bathtub
193                        Beach Wagon
309                             Beacon
795                             Beacon
502                             Beagle
436                             Beagle
577                             Beagle
1951                            Beagle
1996                            Beagle
630                             Beagle
1870                            Beagle
371                             Beagle
1978                            Beagle
1939                            Beagle
650                             Beagle
1187                            Beagle
1559                            Beagle
1713                            Beagle
84                              Beagle
228                             Beagle
1076                            Beagle
235                             Beagle
1055                            Beagle
2055                            Beagle
268                             Beagle
2051                            Beagle
685                             Beagle
881                             Beagle
1428                            Beagle
1464                            Beagle
63                              Beagle
2017                            Beagle
1659                            Beagle
738                             Beagle
465                             Beagle
929                             Beaver
660                             Beaver
763                          Bell Cote
2043              Bernese Mountain Dog
1335              Bernese Mountain Dog
318                                Bib
904                             Binder
390                              Bison
226                              Bison
307                         Black Swan
1758           Black-And-Tan Coonhound
70             Black-And-Tan Coonhound
463            Black-And-Tan Coonhound
76             Black-And-Tan Coonhound
827                Black-Footed Ferret
841                Black-Footed Ferret
154                Black-Footed Ferret
1057               Black-Footed Ferret
979                Black-Footed Ferret
160                   Blenheim Spaniel
1269                  Blenheim Spaniel
1982                        Bloodhound
1855                        Bloodhound
2                           Bloodhound
967                         Bloodhound
40                          Bloodhound
727                         Bloodhound
1930                        Bloodhound
431                         Bloodhound
1449                        Bloodhound
498                         Bloodhound
1391                        Bloodhound
1319                        Bloodhound
65                            Bluetick
1609                          Bluetick
220                           Bluetick
1914                          Bluetick
262                           Bluetick
1169                          Bluetick
1774                         Boathouse
215                             Bolete
234                             Bolete
1894                            Bonnet
1975                       Book Jacket
1037                       Book Jacket
201                           Bookcase
323                           Bookcase
18                            Bookcase
1462                     Border Collie
1913                     Border Collie
1588                     Border Collie
1226                     Border Collie
662                      Border Collie
267                      Border Collie
757                      Border Collie
845                      Border Collie
1420                     Border Collie
802                      Border Collie
1482                     Border Collie
891                     Border Terrier
1654                    Border Terrier
1384                    Border Terrier
328                     Border Terrier
1325                    Border Terrier
1631                    Border Terrier
16                              Borzoi
363                             Borzoi
1359                            Borzoi
393                             Borzoi
284                             Borzoi
1232                            Borzoi
1135                            Borzoi
777                             Borzoi
1763                       Boston Bull
146                        Boston Bull
1706                       Boston Bull
1556                       Boston Bull
830                        Boston Bull
2045                       Boston Bull
514                        Boston Bull
259                        Boston Bull
996                        Boston Bull
1062                       Boston Bull
1809                       Boston Bull
690                        Boston Bull
611                        Boston Bull
374                        Boston Bull
1004                       Boston Bull
1849                       Boston Bull
1822                       Boston Bull
1942              Bouvier Des Flandres
1795              Bouvier Des Flandres
1711                               Bow
807                            Bow Tie
347                         Box Turtle
826                         Box Turtle
219                         Box Turtle
1493                             Boxer
1361                             Boxer
820                              Boxer
524                              Boxer
1949                             Boxer
879                              Boxer
538                              Boxer
726                              Boxer
1947                             Boxer
1768                             Boxer
1309                             Boxer
497                              Boxer
1681                             Boxer
712                              Boxer
550                              Boxer
257                              Boxer
57                   Brabancon Griffon
1431                 Brabancon Griffon
396                  Brabancon Griffon
2037                 Brabancon Griffon
786                  Brabancon Griffon
1277                 Brabancon Griffon
103                  Brabancon Griffon
1567                             Brass
938                              Brass
26                              Briard
1355                            Briard
943                   Brittany Spaniel
928                   Brittany Spaniel
480                   Brittany Spaniel
1189                  Brittany Spaniel
1297                  Brittany Spaniel
1385                  Brittany Spaniel
214                   Brittany Spaniel
665                   Brittany Spaniel
699                   Brittany Spaniel
744                   Brittany Spaniel
1525                  Brittany Spaniel
512                           Broccoli
258                         Brown Bear
608                             Bubble
1665                            Bubble
329                             Bubble
1119                            Bucket
403                             Bucket
1265                           Buckeye
1811                      Bull Mastiff
1073                      Bull Mastiff
338                       Bull Mastiff
709                       Bull Mastiff
269                       Bull Mastiff
1988                      Bull Mastiff
1475                      Bull Mastiff
1860                      Bull Mastiff
893                       Bull Mastiff
330                       Bull Mastiff
1773                      Bull Mastiff
963                       Bull Mastiff
1068                      Bull Mastiff
867                       Bull Mastiff
939                       Bull Mastiff
758                       Bull Mastiff
440                       Bull Mastiff
2054                      Bull Mastiff
229                       Bull Mastiff
1474                      Bull Mastiff
182                   Bulletproof Vest
911                           Bullfrog
1078                               Cab
255                              Cairn
1025                             Cairn
194                              Cairn
769                              Cairn
1084                             Cairn
1070                             Cairn
2048                        Can Opener
1937                             Canoe
2046                         Car Wheel
245                          Car Wheel
159                           Cardigan
994                           Cardigan
2014                          Cardigan
1675                          Cardigan
1167                          Cardigan
1825                          Cardigan
931                           Cardigan
937                           Cardigan
1629                          Cardigan
464                           Cardigan
239                           Cardigan
430                           Cardigan
1237                          Cardigan
1323                          Cardigan
1920                          Cardigan
1060                          Cardigan
600                           Cardigan
2028                          Cardigan
129                           Cardigan
720                           Cardigan
503                           Cardigan
1971                          Cardigan
261                           Cardigan
232                            Cardoon
1839                            Carton
935                             Carton
1317                            Carton
1481                             Chain
1397                           Cheetah
1733          Chesapeake Bay Retriever
1118          Chesapeake Bay Retriever
87            Chesapeake Bay Retriever
985           Chesapeake Bay Retriever
68            Chesapeake Bay Retriever
1121          Chesapeake Bay Retriever
1637          Chesapeake Bay Retriever
1487          Chesapeake Bay Retriever
1985          Chesapeake Bay Retriever
1041          Chesapeake Bay Retriever
1990          Chesapeake Bay Retriever
1204          Chesapeake Bay Retriever
469           Chesapeake Bay Retriever
1562          Chesapeake Bay Retriever
121           Chesapeake Bay Retriever
1184          Chesapeake Bay Retriever
378           Chesapeake Bay Retriever
1395          Chesapeake Bay Retriever
1178          Chesapeake Bay Retriever
2066          Chesapeake Bay Retriever
1085          Chesapeake Bay Retriever
686           Chesapeake Bay Retriever
1785          Chesapeake Bay Retriever
1903          Chesapeake Bay Retriever
1702          Chesapeake Bay Retriever
185           Chesapeake Bay Retriever
1387          Chesapeake Bay Retriever
575                              Chest
324                          Chickadee
988                          Chihuahua
1017                         Chihuahua
449                          Chihuahua
523                          Chihuahua
944                          Chihuahua
776                          Chihuahua
138                          Chihuahua
773                          Chihuahua
1986                         Chihuahua
1915                         Chihuahua
1922                         Chihuahua
813                          Chihuahua
747                          Chihuahua
544                          Chihuahua
545                          Chihuahua
110                          Chihuahua
834                          Chihuahua
1893                         Chihuahua
176                          Chihuahua
1973                         Chihuahua
1871                         Chihuahua
483                          Chihuahua
909                          Chihuahua
1865                         Chihuahua
1863                         Chihuahua
629                          Chihuahua
570                          Chihuahua
842                          Chihuahua
895                          Chihuahua
585                          Chihuahua
1246                         Chihuahua
1124                         Chihuahua
2020                         Chihuahua
1249                         Chihuahua
1523                         Chihuahua
1495                         Chihuahua
295                          Chihuahua
1468                         Chihuahua
1555                         Chihuahua
1149                         Chihuahua
43                           Chihuahua
2036                         Chihuahua
249                          Chihuahua
169                          Chihuahua
413                          Chihuahua
104                          Chihuahua
1296                         Chihuahua
30                           Chihuahua
2065                         Chihuahua
1776                         Chihuahua
1607                         Chihuahua
1176                         Chihuahua
1182                         Chihuahua
1043                         Chihuahua
91                           Chihuahua
213                          Chihuahua
432                          Chihuahua
1136                         Chihuahua
1082                             Chime
332                         Chimpanzee
1505                              Chow
604                               Chow
221                               Chow
1642                              Chow
1290                              Chow
643                               Chow
175                               Chow
560                               Chow
1684                              Chow
1375                              Chow
779                               Chow
1436                              Chow
2064                              Chow
266                               Chow
1699                              Chow
1539                              Chow
1513                              Chow
1917                              Chow
1509                              Chow
1515                              Chow
1126                              Chow
478                               Chow
1104                              Chow
398                               Chow
993                               Chow
962                               Chow
1109                              Chow
1065                              Chow
1991                              Chow
2001                              Chow
1153                              Chow
183                               Chow
73                  Christmas Stocking
1606                Christmas Stocking
664                              Cliff
555                              Cloak
2018                           Clumber
927                            Clumber
248                            Clumber
1854                           Clumber
1491                           Clumber
1777                           Clumber
359                            Clumber
2019                    Cocker Spaniel
1020                    Cocker Spaniel
1018                    Cocker Spaniel

<a id='tidiness2'></a>
### 5.3. Tidiness issues ‒ pt. 2

**ii) Define**

There are three tables that could be merged through the "tweet_id" columns. All three tables should be merged through the "tweet_id" columns.

**ii) Code**

In [407]:
#checks the numer of rows of each dataframe
twarchive_cleaned.shape[0], twjson_cleaned.shape[0], twimg_cleaned.shape[0]

(2168, 2160, 2075)

In [408]:
#adjusts the "tweet_id" columns datatype to allow merges ‒ changes into strings
twarchive_cleaned['tweet_id'] = twarchive_cleaned['tweet_id'].astype(str)
twjson_cleaned['tweet_id'] = twjson_cleaned['tweet_id'].astype(str)
twimg_cleaned['tweet_id'] = twimg_cleaned['tweet_id'].astype(str)

In [409]:
#combines all three data frames together based on the "tweet_id" column
twitter_archive_master = pd.merge(twarchive_cleaned, twjson_cleaned, on='tweet_id', how='inner')
twitter_archive_master = pd.merge(twitter_archive_master, twimg_cleaned, on='tweet_id', how='inner')

**ii) Test**

In [410]:
#returns the first n rows of the dataframe
twitter_archive_master.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage,favorite_count,retweet_count,created_at,retweeted_status,url,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,892420643555336193,2017-08-01 16:23:56+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,34624,7217,2017-08-01 16:23:56+00:00,Original tweet,https://t.co/MgUWQ76dJU,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,Orange,0.097049,False,Bagel,0.085851,False,Banana,0.076110,False
1,892177421306343426,2017-08-01 00:17:27+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,30005,5413,2017-08-01 00:17:27+00:00,Original tweet,https://t.co/aQFSeaCu9L,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,Papillon,0.068957,True
2,891815181378084864,2017-07-31 00:18:03+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,22588,3576,2017-07-31 00:18:03+00:00,Original tweet,https://t.co/r0YlrsGCgy,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,Malamute,0.078253,True,Kelpie,0.031379,True
3,891689557279858688,2017-07-30 15:58:51+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,37880,7437,2017-07-30 15:58:51+00:00,Original tweet,https://t.co/tD36da7qLQ,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,Paper Towel,0.170278,False,Labrador Retriever,0.168086,True,Spatula,0.040836,False
4,891327558926688256,2017-07-29 16:00:24+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,36172,7979,2017-07-29 16:00:24+00:00,Original tweet,https://t.co/0g0KMIVXZ3,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,Basset,0.555712,True,English Springer,0.225770,True,German Short-Haired Pointer,0.175219,True

In [411]:
#gets a concise summary of the dataframe
twitter_archive_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1974 entries, 0 to 1973
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            1974 non-null   object
 1   timestamp           1974 non-null   datetime64[ns, UTC]
 2   source              1974 non-null   object
 3   text                1974 non-null   object
 4   expanded_urls       1974 non-null   object
 5   rating_numerator    1974 non-null   int64
 6   rating_denominator  1974 non-null   int64
 7   name                1974 non-null   object
 8   dog_stage           1974 non-null   object
 9   favorite_count      1974 non-null   int64
 10  retweet_count       1974 non-null   int64
 11  created_at          1974 non-null   datetime64[ns, UTC]
 12  retweeted_status    1974 non-null   object
 13  url                 1974 non-null   object
 14  jpg_url             1974 non-null   object
 15  img_num             1974 non-null   int64
 16  p1                  1974 non-null   object
 17  p1_conf             1974 non-null   float64
 18  p1_dog              1974 non-null   bool
 19  p2                  1974 non-null   object
 20  p2_conf             1974 non-null   float64
 21  p2_dog              1974 non-null   bool
 22  p3                  1974 non-null   object
 23  p3_conf             1974 non-null   float64
 24  p3_dog              1974 non-null   bool
dtypes: bool(3), datetime64[ns, UTC](2), float64(3), int64(5), object(12)
memory usage: 360.5+ KB

**ii.i.) Define**

It is necessary to verify if the "timestamp' and the 'created_at' columns are equals and, if so, drop the 'created_at' column.

**ii.i.) Code**

In [412]:
#returns "True" if the columns are equals
twitter_archive_master['timestamp'].equals(twitter_archive_master['created_at'])

True

In [413]:
#drops the unnecessary column
twitter_archive_master.drop('created_at', axis=1, inplace=True)

**ii.i.) Test**

In [414]:
#returns the first n rows of the dataframe
twitter_archive_master.head(0)

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, dog_stage, favorite_count, retweet_count, retweeted_status, url, jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog]
Index: []

<a id='storing'></a>
## 6. Storing, Analyzing, and Visualizing Data

### 6.1. Data storage

In [415]:
#writes dataframe to ".csv" file 
twitter_archive_master.to_csv('twitter_archive_master.csv', encoding='utf-8', index=False)

In [416]:
#loads ".csv" file into a dataframe
twitter_archive_master = pd.read_csv('twitter_archive_master.csv')


### 6.2. Data analysis

The requirements of this project are to produce at least three insights from this dataset.

### 6.2.1. Insight 1

In [417]:
#returns counts of unique values for the "dog_stag" column
twitter_archive_master.dog_stage.value_counts()

None       1676
pupper      204
doggo        64
puppo        23
floofer       7
Name: dog_stage, dtype: int64

In [418]:
#creates the pie chart
stages = twitter_archive_master.query('dog_stage != "None"').dog_stage.value_counts()
stages.plot.pie(figsize=(6,6), autopct='%1.1f%%', textprops={'fontsize': 12})
#sets title and labels
plt.title('Percentage of different dog stages', fontsize=14, fontweight='bold')
plt.ylabel('')
plt.savefig('stages_chart.svg', format='svg')
plt.show();

>**Note:**
>
>This pie chart represents the percentage of each dog's stage in the dataframe, considering only the stages different from "None". It is possible to notice that the majority of the classified dogs in this dataframe are puppers, with 68.5%, followed by doggo, with 21.5%.

### 6.2.2. Insight 2

In [419]:
#groups the data by "p1" and finds the sum of "favorite_count", sorted in descending order
favorite_breeds = twitter_archive_master.groupby('p1').favorite_count.sum().sort_values(ascending=False) / 1000000
#selects the first 10 results
favorite_breeds = favorite_breeds[0:10]
favorite_breeds

p1
Golden Retriever      1.439270
Labrador Retriever    0.927361
Pembroke              0.883509
Chihuahua             0.614347
Samoyed               0.459106
French Bulldog        0.418695
Chow                  0.362607
Pug                   0.278550
Cocker Spaniel        0.275172
Pomeranian            0.267007
Name: favorite_count, dtype: float64

In [427]:
#sets bar chart size (width, height)
plt.figure(figsize=(8, 5))
#plots the bar chart
ax = favorite_breeds.plot.bar(fontsize=12)
#sets title and labels
ax.set_title("Top 10 most popular predicted dog breeds", fontsize=14, fontweight='bold')
ax.set_ylabel('Total likes (in millions)', fontsize=10)
ax.set_xlabel("Predicted dog breeds", fontsize=10)
plt.savefig('pop_breeds_chart.svg', format='svg', bbox_inches='tight')
plt.show();

>**Note:**
>
>This bar chart represents the predicted dog breeds with the top ten highest total of "likes". It is possible to notice that the dogs predicted as Golden Retriever recivied the highest amount of "likes", with 1.4 million total, followed by Labrador Retriever, with 0.9 million, and Pembroke, with  0.8 million.

### 6.2.3. Insight 3

In [421]:
#groups the data by "p1" and finds the sum of "retweet_count", sorted in descending order
retweeted_breeds = twitter_archive_master.groupby('p1').retweet_count.sum().sort_values(ascending=False) / 1000
#selects the first 10 results
retweeted_breeds = retweeted_breeds[0:10]
retweeted_breeds

p1
Golden Retriever      398.608
Labrador Retriever    287.986
Pembroke              233.102
Chihuahua             188.960
Samoyed               145.688
French Bulldog        101.096
Chow                   98.386
Pomeranian             88.293
Cocker Spaniel         83.009
Eskimo Dog             81.843
Name: retweet_count, dtype: float64

In [428]:
#sets bar chart size (width, height)
plt.figure(figsize=(8, 5))
#plots the bar chart
ax = retweeted_breeds.plot.bar(fontsize=12)
#sets title and labels
ax.set_title("Top 10 most retweeted predicted dog breeds", fontsize=14, fontweight='bold')
ax.set_ylabel('Total retweets in thousands', fontsize=10)
ax.set_xlabel("Predicted dog breeds", fontsize=10)
plt.savefig('rt_breeds_chart.svg', format='svg', bbox_inches='tight')
plt.show();

>**Note:**
>
> This bar chart represents the predicted dog breeds with the top ten highest total of retweets. It is possible to notice that the dogs predicted as Golden Retriever were the most retweeted, with 398 thousands of retweets, also followed by Labrador Retriever, 287 thousands, and Pembroke, 233 thousands.

<a id='references'></a>
## 7. References

- https://knowledge.udacity.com/questions/242616
- https://knowledge.udacity.com/questions/332090
- https://knowledge.udacity.com/questions/127161
- https://knowledge.udacity.com/questions/386360
- https://knowledge.udacity.com/questions/212738
- https://knowledge.udacity.com/questions/455113
- https://knowledge.udacity.com/questions/389519
- https://knowledge.udacity.com/questions/287523
- https://stackoverflow.com/questions/54611750/dataframe-replace-underscore-with-blank-not-working
- https://www.ti-enxame.com/pt/python/compare-duas-colunas-usando-pandas/1050144517/
- https://stackoverflow.com/questions/47612822/how-to-create-pandas-dataframe-from-twitter-search-api
- https://stackoverflow.com/questions/27900451/convert-tweepy-status-object-into-json
- https://stackoverflow.com/questions/7082345/how-to-set-the-labels-size-on-a-pie-chart-in-python
- https://stackoverflow.com/questions/30765455/why-is-my-plt-savefig-is-not-working
- https://stackoverflow.com/questions/17582137/ipython-notebook-svg-figures-by-default
- https://stackoverflow.com/questions/36622237/jupyter-notebook-inline-plots-as-svg/53719336
-https://youtu.be/C8MT-A7Mvk4